Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
# fail_fast: true
minimum_pre_commit_version: 1.18.1
exclude: "docs/_build/"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
        exclude: ".(md|rst)$"
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-added-large-files
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.4
    hooks:
      - id: git-check  # Configure in .gitattributes
      - id: shellcheck
        exclude: ".bats$"
      - id: shfmt
        exclude: ".bats$"
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      # - id: forbid-crlf
      - id: remove-crlf
        exclude: ".bat$"
  - repo: local
    hooks:
      - id: dot-sh
        name: Check .sh files against bash-it requirements
        entry: ./hooks/dot-sh.sh
        language: system
        files: "\\.sh$"
        types: [file]
      - id: dot-bash
        name: Check .bash files against bash-it requirements
        exclude: "test/test_helper.bash"
        entry: ./hooks/dot-bash.sh
        language: system
        files: "\\.bash$"
        types: [file]

We do insist though, you locate us at ~/.bash_it
  install.sh
Due: dot-sh

Fix minor glitch introduced by string concatenation
  install.sh
Due: dot-sh

Use bash string parsing in favour of basename
  install.sh
Due: dot-sh

Readjust output based on single char input strategy
  install.sh
Due: dot-sh

Jekyll prompt use single char input
  install.sh
Due: dot-sh

How about a direct install with bash, curl and github
  install.sh
Due: dot-sh

Added minimum comments
  install.sh
Due: dot-sh

Updated documentation
  README.md
  install.sh
Due: dot-sh

Easily 'enter' the installation process
  install.sh
Due: dot-sh

getopt completion
  completion/available/getopt.completion.bash
Due: dot-bash

plugin: add zoxide
  clean_files.txt
  plugins/available/zoxide.plugin.bash
Due: dot-bash

themes: fix doubletime_multiline scm_prompt
  themes/doubletime_multiline/doubletime_multiline.theme.bash
  themes/doubletime_multiline_pyonly/doubletime_multiline_pyonly.theme.bash
Due: dot-bash

Wholesale cleanup of all history plugins
  clean_files.txt
  plugins/available/history-eternal.plugin.bash
  plugins/available/history-search.plugin.bash
  plugins/available/history-substring-search.plugin.bash
  plugins/available/history.plugin.bash
Due: dot-bash

Fix linting errors that snuck in.
  completion/available/git.completion.bash
  plugins/available/autojump.plugin.bash
  plugins/available/base.plugin.bash
  vendor/init.d/preexec.bash
Due: dot-bash

added alias ls='ls -F'
  aliases/available/general.aliases.bash
  aliases/available/msys2.aliases.bash
Due: dot-bash

plugin(dirs): remove shopt -s cdable_vars
  plugins/available/dirs.plugin.bash
Due: dot-bash

Improve performance of 'bash-it enable' completions
  completion/available/bash-it.completion.bash
Due: dot-bash

Improve performance for the rest of bash-it completions
  completion/available/bash-it.completion.bash
Due: dot-bash

Make more variables local
  completion/available/bash-it.completion.bash
Due: dot-bash

Double quote some variables
  completion/available/bash-it.completion.bash
Due: dot-bash

Use bash features as much as possible
  completion/available/bash-it.completion.bash
Due: dot-bash

"pipenv --completion" is obsoleted
  completion/available/pipenv.completion.bash
Due: dot-bash

feat(git): make auto squashing non-interactive
  aliases/available/git.aliases.bash
Due: dot-bash

Update merge-upstream.yml
  .github/workflows/merge-upstream.yml
Due: none

Add "bash-progcomp" from "https://github.com/gaelicWizard/bash-progcomp@v2.0.1"
  completion/available/defaults.completion.bash
  vendor/github.com/gaelicWizard/bash-progcomp/.editorconfig
  vendor/github.com/gaelicWizard/bash-progcomp/LICENSE
  vendor/github.com/gaelicWizard/bash-progcomp/defaults.completion.bash
  vendor/github.com/gaelicWizard/bash-progcomp/defaults.completion.bats
Due: dot-bash

Remove defaults completion v1
  completion/available/defaults.completion.bash
Due: dot-bash

theme/powerline: SC2154, SC2248
  themes/powerline/powerline.base.bash
Due: dot-bash

theme/bakke: fix SC2154
  themes/bakke/bakke.theme.bash
Due: dot-bash

theme/bira: SC2154
  themes/bira/bira.theme.bash
Due: dot-bash

theme/codeword: SC2154
  themes/codeword/codeword.theme.bash
Due: dot-bash

theme/purity: SC2154
  themes/purity/purity.theme.bash
Due: dot-bash

theme/90210: fix SC2154
  themes/90210/90210.theme.bash
Due: dot-bash

theme/pure: SC2154
  themes/pure/pure.theme.bash
Due: dot-bash

plugin/jekyll: `shfmt` && `shellcheck`
  plugins/available/jekyll.plugin.bash
Due: dot-bash

plugin/jekyll: try to shorten the flow
  plugins/available/jekyll.plugin.bash
Due: dot-bash

main: move Jekyll stuff to plugins/jekyll
  bash_it.sh
  plugins/available/jekyll.plugin.bash
Due: dot-sh, dot-bash

plugin/jekyll: second `shellcheck` pass
  clean_files.txt
  plugins/available/jekyll.plugin.bash
Due: dot-bash

lib: avoid duplicate inclusion
  lib/helpers.bash
  lib/search.bash
Due: dot-bash

lib: avoid duplicate inclusion
  lib/log.bash
  lib/utilities.bash
Due: dot-bash

lib: store list of libs loaded
  lib/helpers.bash
  lib/log.bash
  lib/search.bash
  lib/utilities.bash
Due: dot-bash
