Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
# fail_fast: true
minimum_pre_commit_version: 1.18.1
exclude: "docs/_build/"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
        exclude: ".(md|rst)$"
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-added-large-files
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.4
    hooks:
      - id: git-check  # Configure in .gitattributes
      - id: shellcheck
        exclude: ".bats$"
      - id: shfmt
        exclude: ".bats$"
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      # - id: forbid-crlf
      - id: remove-crlf
        exclude: ".bat$"
  - repo: local
    hooks:
      - id: dot-sh
        name: Check .sh files against bash-it requirements
        entry: ./hooks/dot-sh.sh
        language: system
        files: "\\.sh$"
        types: [file]
      - id: dot-bash
        name: Check .bash files against bash-it requirements
        exclude: "test/test_helper.bash"
        entry: ./hooks/dot-bash.sh
        language: system
        files: "\\.bash$"
        types: [file]

tests: quote paths
  test/plugins/xterm.plugin.bats
Due: none

plugins/ruby: tests on Mac OS X
  test/plugins/ruby.plugin.bats
Due: none

tests: new file `test_helper_libs.bash`
  clean_files.txt
  test/lib/helpers.bats
  test/lib/search.bats
  test/lib/utilities.bats
  test/plugins/alias-completion.plugin.bats
  test/plugins/base.plugin.bats
  test/plugins/battery.plugin.bats
  test/plugins/cmd-returned-notify.plugin.bats
  test/plugins/go.plugin.bats
  test/plugins/ruby.plugin.bats
  test/plugins/xterm.plugin.bats
  test/test_helper_libs.bash
  test/themes/base.theme.bats
  test/themes/base.theme.git.bats
  test/themes/base.theme.svn.bats
Due: dot-bash

completion/svn: rename to match prior file
  completion/available/svn.completion.bash
Due: dot-bash

completion/subversion: load system completion
  completion/available/subversion.completion.bash
Due: dot-bash

completion/subversion: remove
  completion/available/svn.completion.bash
Due: dot-bash

completion/system: fix tests for `profile` command
  test/lib/helpers.bats
Due: none

completion/system: `shfmt`
  clean_files.txt
  completion/available/system.completion.bash
Due: dot-bash

completion/system: load earlier than other completions
  completion/available/system.completion.bash
  test/install/install.bats
Due: dot-bash

plugins/gif: use `type -p`
  plugins/available/gif.plugin.bash
Due: dot-bash

plugin/gif: `shfmt`
  clean_files.txt
  plugins/available/gif.plugin.bash
Due: dot-bash

plugins/latex: 2009 was 12 years ago
  clean_files.txt
  plugins/available/latex.plugin.bash
Due: dot-bash

plugin/nginx: cleanup
  clean_files.txt
  plugins/available/nginx.plugin.bash
Due: dot-bash

theme/atomic: lint/cleanup
  themes/atomic/atomic.theme.bash
Due: dot-bash

theme/bobby: SC2154
  themes/bobby-python/bobby-python.theme.bash
  themes/bobby/bobby.theme.bash
Due: dot-bash

theme/candy: SC2154
  themes/candy/candy.theme.bash
Due: dot-bash

theme/easy: SC2154
  themes/easy/easy.theme.bash
Due: dot-bash

plugin/proxy: `shellcheck` && `shfmt`
  clean_files.txt
  plugins/available/proxy.plugin.bash
Due: dot-bash

Create lib finalize hook
  bash_it.sh
  themes/base.theme.bash
Due: dot-sh, dot-bash

finalize: first attempt at documentation?
  docs/development.rst
Due: none

lib/log: rename `_log_general()`
  lib/log.bash
Due: dot-bash

lib/log: `shellcheck` && `shfmt`
  clean_files.txt
  lib/log.bash
Due: dot-bash

lib/log: function `_bash-it-log-prefix-by-path()`
  lib/log.bash
Due: dot-bash

lib/utilities: update `_bash-it-component-cache-file()`
  lib/utilities.bash
Due: dot-bash

lib/utilities: rewrite _bash-it-component-pluralize
  lib/utilities.bash
Due: dot-bash

lib/utilities: Use variable indirection
  lib/utilities.bash
Due: dot-bash

lib/utilities: fix `_bash-it-component-help()` for long component names
  lib/utilities.bash
Due: dot-bash

lib/utilities: autonomize `_bash-it-component-item-is-enabled()`
  lib/utilities.bash
Due: dot-bash

Update "composure" from "https://github.com/erichs/composure@master"
  vendor/github.com/erichs/composure/composure.sh
Due: dot-sh

test_lib: update BATS to latest tag(s)
  test/plugins/base.plugin.bats
Due: none

theme/pete: `shellcheck` && `shfmt`
  clean_files.txt
  themes/pete/pete.theme.bash
Due: dot-bash

theme/brunton: SC2154
  themes/brunton/brunton.theme.bash
Due: dot-bash

completion/dotnet: new completion
  completion/available/dotnet.completion.bash
Due: dot-bash

completion/dotnet: modernize
  clean_files.txt
  completion/available/dotnet.completion.bash
Due: dot-bash

completion/nikto: simplify and use `-X '!&*'`
  completion/available/nikto.completion.bash
Due: dot-bash

completion/getopt: `shfmt`
  completion/available/getopt.completion.bash
Due: dot-bash

completion/getopt: compat with v3.2
  completion/available/getopt.completion.bash
Due: dot-bash

completion/getopt: add to `clean_files.txt`
  clean_files.txt
Due: none

completion/getopt: use `-X '!&*'`
  completion/available/getopt.completion.bash
Due: dot-bash

lib/helpers: fix `all_groups()`
  lib/helpers.bash
Due: dot-bash
