Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

dot-sh:
  name: Check .sh files against bash-it requirements
  entry: ./hooks/dot-sh.sh
  language: system

dot-bash:
  name: Check .bash files against bash-it requirements
  entry: ./hooks/dot-bash.sh
  language: system

theme/liquidprompt: use `$THEME_CLOCK_FORMAT`
  .gitignore
  clean_files.txt
  themes/liquidprompt/liquidprompt.theme.bash
Due: dot-bash

theme/liquidprompt: don’t clobber `bash-preexec`
  themes/liquidprompt/liquidprompt.theme.bash
Due: dot-bash

lib/completion
  clean_files.txt
  lib/completion.bash
Due: dot-bash

completion/dirs
  clean_files.txt
  completion/available/dirs.completion.bash
Due: dot-bash

completion/export
  clean_files.txt
  completion/available/export.completion.bash
Due: dot-bash

completions: `shellcheck`
  completion/available/apm.completion.bash
  completion/available/conda.completion.bash
  completion/available/crystal.completion.bash
  completion/available/defaults.completion.bash
  completion/available/drush.completion.bash
  completion/available/gcloud.completion.bash
  completion/available/homesick.completion.bash
  completion/available/nvm.completion.bash
  completion/available/rvm.completion.bash
  completion/available/todo.completion.bash
  completion/available/virsh.completion.bash
Due: dot-bash

completion/vuejs: `shellcheck`
  clean_files.txt
  completion/available/vuejs.completion.bash
Due: dot-bash

completions: clear and consistent log messages
  completion/available/awless.completion.bash
  completion/available/awscli.completion.bash
  completion/available/cargo.completion.bash
  completion/available/consul.completion.bash
  completion/available/flutter.completion.bash
  completion/available/git.completion.bash
  completion/available/github-cli.completion.bash
  completion/available/helm.completion.bash
  completion/available/jungle.completion.bash
  completion/available/kind.completion.bash
  completion/available/kontena.completion.bash
  completion/available/kubectl.completion.bash
  completion/available/laravel.completion.bash
  completion/available/makefile.completion.bash
  completion/available/minikube.completion.bash
  completion/available/minishift.completion.bash
  completion/available/ng.completion.bash
  completion/available/npm.completion.bash
  completion/available/openshift.completion.bash
  completion/available/packer.completion.bash
  completion/available/pew.completion.bash
  completion/available/pipenv.completion.bash
  completion/available/rustup.completion.bash
  completion/available/svn.completion.bash
  completion/available/terraform.completion.bash
  completion/available/travis.completion.bash
  completion/available/vault.completion.bash
  completion/available/wpscan.completion.bash
Due: dot-bash

completion/dmidecode: `shellcheck`
  clean_files.txt
  completion/available/dmidecode.completion.bash
Due: dot-bash

lib/completion: `_bash-it-completion-helper-necessary()` et al
  completion/available/docker.completion.bash
  lib/completion.bash
Due: dot-bash

completions: add to `clean_files.txt`
  clean_files.txt
Due: none

completion/notify-send: `shellcheck`
  clean_files.txt
  completion/available/notify-send.completion.bash
Due: dot-bash

lib/theme: use `_command_exists()`
  themes/base.theme.bash
Due: dot-bash

lib/helpers: `_bash-it-find-in-ancestor()`
  lib/helpers.bash
Due: dot-bash

Remove executable bit.
  .editorconfig
  .gitignore
Due: none

plugin/battery: fix tests
  test/plugins/battery.plugin.bats
Due: none

Update themes/base.theme.bash
  themes/base.theme.bash
Due: dot-bash

Not sure when this one broke, fixing.
  completion/available/knife.completion.bash
Due: dot-bash

Fix knife completion (#2098)
  completion/available/knife.completion.bash
Due: dot-bash

Add a 'theme' for OMP, so the internal themes don't clash with it.
  themes/oh-my-posh/oh-my-posh.theme.bash
Due: dot-bash

Add theme to clean_files
  clean_files.txt
Due: none

Add screenshot to the docs
  docs/themes-list/index.rst
  docs/themes-list/oh-my-posh.rst
Due: none

Correct the name of the default theme in the docs.
  docs/themes-list/oh-my-posh.rst
  themes/oh-my-posh/oh-my-posh.theme.bash
Due: dot-bash

screenshot of a few examples of oh-my-posh themes
  docs/images/oh-my-posh.png
Due: none

ci: Add bashcov codecov report
  .github/workflows/ci.yml
Due: none

Revert "ci: Add bashcov codecov report"
  .github/workflows/ci.yml
Due: none

install.sh: Handle unbound variables
  install.sh
Due: dot-sh

Add gemfile files for bashcov
  Gemfile
  Gemfile.lock
Due: none

tests: Fix tests after libs update
  test/completion/bash-it.completion.bats
  test/install/uninstall.bats
  test/lib/helpers.bats
  test/lib/preexec.bats
  test/plugins/base.plugin.bats
  test/themes/base.theme.bats
Due: none

ci: Fix codecov stage
  .github/workflows/ci.yml
Due: none

BATS: revamp test `setup()` and `setup_test_fixture()`
  clean_files.txt
  test/run
  test/test_helper.bash
  test/test_helper_libs.bash
Due: dot-bash

test/base: adopt newly revamped `setup()`
  test/plugins/base.plugin.bats
Due: none

test/helpers: adopt newly revamped `setup()`
  test/lib/helpers.bats
Due: none

test/install: adopt newly revamped `setup()`
  test/install/install.bats
  test/install/uninstall.bats
Due: none

test/composure: adopt newly revamped `setup()`
  test/lib/composure.bats
Due: none

test/cmd-returned-notify: adopt newly revamped `setup()`
  test/plugins/cmd-returned-notify.plugin.bats
Due: none

test/search: adopt newly revamped `setup()`
  test/lib/search.bats
Due: none

test/battery: adopt newly revamped `setup()`
  test/plugins/battery.plugin.bats
Due: none

Path conditions:
  dot-sh: any of: \.sh$, but not: docs/_build/
  dot-bash: any of: \.bash$ and not (test/test_helper.bash) and not (docs/_build/)
