Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

dot-sh:
  name: Check .sh files against bash-it requirements
  entry: ./hooks/dot-sh.sh
  language: system

dot-bash:
  name: Check .bash files against bash-it requirements
  entry: ./hooks/dot-bash.sh
  language: system

fix (completion): quote apm vendor path
  completion/available/apm.completion.bash
Due: dot-bash

chore: use _command_exists based on MR feedback
  themes/base.theme.bash
Due: dot-bash

chore: add log stmt based on MR feedback
  themes/base.theme.bash
Due: dot-bash

Issue 2151 🛂 do not give users a root shell by executing arbitrary shell commands by 'vim' also by removing 'sudo' aliases because bash-it should not be the business of mucking about with sudo at all
  aliases/available/general.aliases.bash
Due: dot-bash

Update github runner images
  .github/workflows/ci.yml
Due: none

Fix git info from getting stomped on up/down arrows
  themes/simple/simple.theme.bash
Due: dot-bash

Short aliases for `git commit --amend` (bang)
  aliases/available/git.aliases.bash
Due: dot-bash

Verbose version of `git add` (gav)
  aliases/available/git.aliases.bash
Due: dot-bash

Update variable name to match projects.plugin.bash
  completion/available/projects.completion.bash
Due: dot-bash

refactor gst is short for Git Status
  aliases/available/git.aliases.bash
Due: dot-bash

fix
  aliases/available/git.aliases.bash
Due: dot-bash

refactor gs
  aliases/available/git.aliases.bash
Due: dot-bash

wip
  aliases/available/git.aliases.bash
Due: dot-bash

Removed Bash Dependency section from README and added it to troubleshooting.rst
  docs/README.md
  docs/troubleshooting.rst
Due: none

Fixed broken code blocks in troubleshooting.rst
  docs/troubleshooting.rst
Due: none

Replace egrep with grep -E
  completion/available/fabric.completion.bash
  completion/available/gradle.completion.bash
  plugins/available/aws.plugin.bash
  plugins/available/postgres.plugin.bash
  themes/rjorgenson/rjorgenson.theme.bash
Due: dot-bash

Fix value for BASH_IT_GREP
  lib/utilities.bash
Due: dot-bash

Same way of parameters everywhere.
  plugins/available/postgres.plugin.bash
Due: dot-bash

fix (plugin): use grep -E instead of egrep in postgres.plugin.bash
  plugins/available/postgres.plugin.bash
Due: dot-bash

fix (plugin): use grep -E instead of egrep in fabric.completion.bash
  completion/available/fabric.completion.bash
Due: dot-bash

fix (completion): use grep -E instead of egrep in gradle.completion.bash and fabric.completion.bash
  completion/available/gradle.completion.bash
Due: dot-bash

fix (core): use grep -E instead of egrep
  lib/utilities.bash
  plugins/available/aws.plugin.bash
  themes/rjorgenson/rjorgenson.theme.bash
Due: dot-bash

merge
  new
Due: none

chore: Review usages of [ef]grep, shift to grep -[EF]
  completion/available/fabric.completion.bash
  completion/available/gradle.completion.bash
  completion/available/makefile.completion.bash
  lib/helpers.bash
  lib/utilities.bash
  lint_clean_files.sh
  plugins/available/aws.plugin.bash
  plugins/available/jekyll.plugin.bash
  plugins/available/postgres.plugin.bash
  themes/rjorgenson/rjorgenson.theme.bash
Due: dot-sh, dot-bash

chore: Use grep -E / grep -F instead of egrep / fgrep (#2164)
  completion/available/fabric.completion.bash
  completion/available/gradle.completion.bash
  completion/available/makefile.completion.bash
  lib/helpers.bash
  lib/utilities.bash
  lint_clean_files.sh
  plugins/available/aws.plugin.bash
  plugins/available/jekyll.plugin.bash
  plugins/available/postgres.plugin.bash
  themes/rjorgenson/rjorgenson.theme.bash
Due: dot-sh, dot-bash

fix(theme): use correct escape sequence to avoid weird text overwriting
  themes/parrot/parrot.theme.bash
Due: dot-bash

bug:Install shellcheck wget
  .github/workflows/ci.yml
Due: none

bug:Install shellcheck wget (#2173)
  .github/workflows/ci.yml
Due: none

bug: Use en_US when fetching EPOCHREALTIME
  lib/command_duration.bash
  plugins/available/cmd-returned-notify.plugin.bash
  test/plugins/cmd-returned-notify.plugin.bats
Due: dot-bash

remove function wrapper around kubectl alias registration
  aliases/available/kubectl.aliases.bash
Due: dot-bash

Fix call to liquidprompt function
  themes/liquidprompt/liquidprompt.theme.bash
Due: dot-bash

Update liquidprompt.theme.bash
  themes/liquidprompt/liquidprompt.theme.bash
Due: dot-bash

Attempt to no break existing installs
  themes/liquidprompt/liquidprompt.theme.bash
Due: dot-bash

Removed trailing whitespace on line 51
  themes/liquidprompt/liquidprompt.theme.bash
Due: dot-bash

aliases: git: Modernize 'gpf' and make it use --force-with-lease
  aliases/available/git.aliases.bash
Due: dot-bash

aliases: git: Modernize get default branch function
  aliases/available/git.aliases.bash
Due: dot-bash

aliases: git: Don't use sed for extracting branch name
  aliases/available/git.aliases.bash
Due: dot-bash

Add more aliases for `git branch`, use long form
  aliases/available/git.aliases.bash
Due: dot-bash

Path conditions:
  dot-sh: any of: \.sh$, but not: docs/_build/
  dot-bash: any of: \.bash$ and not (test/test_helper.bash) and not (docs/_build/)
