Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash, clean-files-txt

dot-sh:
  name: Check .sh files against bash-it requirements
  entry: ./hooks/dot-sh.sh
  language: system

dot-bash:
  name: Check .bash files against bash-it requirements
  entry: ./hooks/dot-bash.sh
  language: system

clean-files-txt:
  name: Check that clean_files.txt is sorted alphabetically.
  entry: ./hooks/check-clean-files-txt.sh
  language: system

Fix SSH completion to preserve @ sign in user@host format
  completion/available/ssh.completion.bash
Due: dot-bash

Improve uninstall script to preserve current config before restoration
  uninstall.sh
Due: dot-sh

Add NODE_VERSION_CHECK_PROJECT option to conditionally display node version
  themes/base.theme.bash
Due: dot-bash

Update planning docs with completed issues and PRs
  docs/plans/bash-it-issues-comprehensive-analysis.md
  docs/plans/bash-it-quick-reference.md
  docs/plans/bash-it-roadmap-2025.md
Due: none

Apply review feedback: combine COMP_WORDBREAKS removals
  completion/available/ssh.completion.bash
Due: dot-bash

Apply review feedback: add explicit return 0
  themes/base.theme.bash
Due: dot-bash

Apply review feedback: fix comment, remove /g, combine complete
  completion/available/artisan.completion.bash
Due: dot-bash

Update test references from todo.txt-cli to todo
  test/lib/helpers.bats
Due: none

Fix symlink handling in uninstall backup
  uninstall.sh
Due: dot-sh

Fix test priorities for todo aliases
  test/completion/bash-it.completion.bats
  test/lib/helpers.bats
Due: none

Update completion/available/artisan.completion.bash
  completion/available/artisan.completion.bash
Due: dot-bash

new plugin: safe_autoenv
  plugins/available/safe_autoenv.plugin.bash
Due: dot-bash

Add directory completion for tmux new-session -c option
  completion/available/tmux.completion.bash
Due: dot-bash

I hope this is a fix that satisfies shellcheck and is correct functionally
  completion/available/artisan.completion.bash
Due: dot-bash

Fix shellcheck warnings in safe_autoenv plugin and artisan completion
  completion/available/artisan.completion.bash
  plugins/available/safe_autoenv.plugin.bash
Due: dot-bash

solution is kosher but stincky, shellcheck hates it for a good reason.
  completion/available/artisan.completion.bash
Due: dot-bash

free from the tyrrany of backward compatibility!
  docs/README.md
Due: none

Add bash 3.3+ version check to pack plugin
  plugins/available/pack.plugin.bash
Due: dot-bash

Add plugin disable calls to version checks in history-eternal and percol
  plugins/available/history-eternal.plugin.bash
  plugins/available/percol.plugin.bash
Due: dot-bash

Standardize return codes and log messages for version checks
  plugins/available/history-eternal.plugin.bash
  plugins/available/percol.plugin.bash
Due: dot-bash

also fix the contribution doc
  docs/contributing.rst
Due: none

improve the readme
  docs/README.md
Due: none

add version checks on install and init
  bash_it.sh
  install.sh
Due: dot-sh

Update bash_it.sh
  bash_it.sh
Due: dot-sh

By the Book
  bash_it.sh
  install.sh
Due: dot-sh

Add composure metadata to 27 completions and 2 plugins
  completion/available/TODO_COMPOSURE_METADATA.md
  completion/available/awscli.completion.bash
  completion/available/bash-it.completion.bash
  completion/available/bundler.completion.bash
  completion/available/capistrano.completion.bash
  completion/available/dart.completion.bash
  completion/available/docker-compose.completion.bash
  completion/available/docker-machine.completion.bash
  completion/available/fabric.completion.bash
  completion/available/flutter.completion.bash
  completion/available/git.completion.bash
  completion/available/gradle.completion.bash
  completion/available/grunt.completion.bash
  completion/available/gulp.completion.bash
  completion/available/hub.completion.bash
  completion/available/invoke.completion.bash
  completion/available/laravel.completion.bash
  completion/available/maven.completion.bash
  completion/available/ng.completion.bash
  completion/available/pip.completion.bash
  completion/available/pip3.completion.bash
  completion/available/pipenv.completion.bash
  completion/available/rake.completion.bash
  completion/available/ssh.completion.bash
  completion/available/svn.completion.bash
  completion/available/tmux.completion.bash
  completion/available/vagrant.completion.bash
  completion/available/virtualbox.completion.bash
  plugins/available/alias-completion.plugin.bash
  plugins/available/colors.plugin.bash
Due: dot-bash

Fix maven description to avoid 'gem' substring match in search
  completion/available/maven.completion.bash
Due: dot-bash

Move TODO_COMPOSURE_METADATA.md to docs directory
  docs/TODO_COMPOSURE_METADATA.md
Due: none

Add URL and group metadata to all documented completions
  completion/available/artisan.completion.bash
  completion/available/awscli.completion.bash
  completion/available/bash-it.completion.bash
  completion/available/brew.completion.bash
  completion/available/bundler.completion.bash
  completion/available/capistrano.completion.bash
  completion/available/composer.completion.bash
  completion/available/dart.completion.bash
  completion/available/docker-compose.completion.bash
  completion/available/docker-machine.completion.bash
  completion/available/fabric.completion.bash
  completion/available/gem.completion.bash
  completion/available/git.completion.bash
  completion/available/gradle.completion.bash
  completion/available/grunt.completion.bash
  completion/available/gulp.completion.bash
  completion/available/hub.completion.bash
  completion/available/invoke.completion.bash
  completion/available/laravel.completion.bash
  completion/available/lerna.completion.bash
  completion/available/maven.completion.bash
  completion/available/ng.completion.bash
  completion/available/pip.completion.bash
  completion/available/pip3.completion.bash
  completion/available/pipenv.completion.bash
  completion/available/rake.completion.bash
  completion/available/ssh.completion.bash
  completion/available/svn.completion.bash
  completion/available/virtualbox.completion.bash
Due: dot-bash

Add url() as composure metadata function
  bash_it.sh
Due: dot-sh

Add --verbose flag to bash-it show command to display URLs
  lib/helpers.bash
Due: dot-bash

Update completion/available/docker-compose.completion.bash
  completion/available/docker-compose.completion.bash
Due: dot-bash

fix some aesthetics
  completion/available/fabric.completion.bash
  completion/available/git.completion.bash
  completion/available/svn.completion.bash
  docs/Makefile
  plugins/available/nvm.plugin.bash
  plugins/available/postgres.plugin.bash
Due: dot-bash

fix some aesthetics 2
  plugins/available/base.plugin.bash
Due: dot-bash

correct version check
  plugins/available/pack.plugin.bash
Due: dot-bash

Add URL metadata to all aliases and plugins
  plugins/available/base.plugin.bash
  plugins/available/projects.plugin.bash
  plugins/available/proxy.plugin.bash
  plugins/available/pyenv.plugin.bash
  plugins/available/python.plugin.bash
  plugins/available/rails.plugin.bash
  plugins/available/rbenv.plugin.bash
  plugins/available/ruby.plugin.bash
  plugins/available/rvm.plugin.bash
  plugins/available/sdkman.plugin.bash
  plugins/available/ssh.plugin.bash
  plugins/available/sshagent.plugin.bash
  plugins/available/subversion.plugin.bash
  plugins/available/sudo.plugin.bash
  plugins/available/textmate.plugin.bash
  plugins/available/thefuck.plugin.bash
  plugins/available/tmux.plugin.bash
  plugins/available/tmuxinator.plugin.bash
  plugins/available/todo.plugin.bash
  plugins/available/url.plugin.bash
  plugins/available/virtualenv.plugin.bash
  plugins/available/xterm.plugin.bash
  plugins/available/z_autoenv.plugin.bash
  plugins/available/zoxide.plugin.bash
Due: dot-bash

Fix: Register url as composure metadata function
  bash_it.sh
Due: dot-sh

Fix: Define url() function in test helper for BATS tests
  test/test_helper.bash
Due: dot-bash

make shellcheck happy
  bash_it.sh
Due: dot-sh

Path conditions:
  dot-sh: any of: \.sh$, but not: docs/_build/
  dot-bash: any of: \.bash$, but not: docs/_build/
  clean-files-txt: any of: clean_files.txt, but not: docs/_build/
