Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
# fail_fast: true
minimum_pre_commit_version: 1.18.1
exclude: "docs/_build/"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
        exclude: ".(md|rst)$"
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-added-large-files
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.4
    hooks:
      - id: git-check  # Configure in .gitattributes
      - id: shellcheck
        exclude: ".bats$"
      - id: shfmt
        exclude: ".bats$"
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      # - id: forbid-crlf
      - id: remove-crlf
        exclude: ".bat$"
  - repo: local
    hooks:
      - id: dot-sh
        name: Check .sh files against bash-it requirements
        entry: ./hooks/dot-sh.sh
        language: system
        files: "\\.sh$"
        types: [file]
      - id: dot-bash
        name: Check .bash files against bash-it requirements
        exclude: "test/test_helper.bash"
        entry: ./hooks/dot-bash.sh
        language: system
        files: "\\.bash$"
        types: [file]

Remove libra chat reference
  docs/README.md
Due: none

Fix duplicate declaration of `grm`, update `grb<*>`
  aliases/available/git.aliases.bash
Due: dot-bash

Use C style strings when checking for invalid alias characters
  completion/available/aliases.completion.bash
Due: dot-bash

No need to escape characters in this context
  completion/available/aliases.completion.bash
Due: dot-bash

Re-add '\' for newline, re-arrange chars for clarity
  completion/available/aliases.completion.bash
Due: dot-bash

bug: Use C style strings when checking for invalid alias characters (#2188)
  completion/available/aliases.completion.bash
Due: dot-bash

feat (completion): add yarn completion
  completion/available/yarn.completion.bash
  vendor/github.com/dsifford/yarn-completion/completion.bash
Due: dot-bash

improve: add yarn completion in lint files
  clean_files.txt
Due: none

Add more Maven aliases
  aliases/available/maven.aliases.bash
Due: dot-bash

Typo fix and rename maven service plugin aliases to be more friendly
  aliases/available/maven.aliases.bash
Due: dot-bash

Reordered aliases to be more friendly
  aliases/available/maven.aliases.bash
Due: dot-bash

fix (completions): comply with vendors file structure
  completion/available/yarn.completion.bash
  vendor/github.com/dsifford/yarn-completion/yarn
Due: dot-bash

fix (lint): format the file with shfmt
  completion/available/yarn.completion.bash
Due: dot-bash

fix (plugins): enable interpretation of backslash escapes in colors
  plugins/available/colors.plugin.bash
Due: dot-bash

fix (lint): disable SC2317 in install.sh
  install.sh
Due: dot-sh

fix (lint): SC2086 in agnoster theme
  themes/agnoster/agnoster.theme.bash
Due: dot-bash

fix (lint): remove exit from install.sh as it is already implemented in the calling function
  install.sh
Due: dot-sh

fix (install): restore exit after _bash-it_show_usage
  install.sh
Due: dot-sh

FEAT: Add Aptitude aliases
  aliases/available/aptitude.aliases.bash
Due: dot-bash

FEAT: Add Aptitude aliases
  aliases/available/aptitude.aliases.bash
  test/completion/bash-it.completion.bats
Due: dot-bash

Allow for longer command min duration
  lib/command_duration.bash
Due: dot-bash

fix (completions): add source to actual vendor file and disable SC1090 in yarn completions
  completion/available/yarn.completion.bash
Due: dot-bash

Fix lint errors in multiple files (#2192)
  install.sh
  plugins/available/colors.plugin.bash
  themes/agnoster/agnoster.theme.bash
Due: dot-sh, dot-bash

Implement yarn completion (#2190)
  clean_files.txt
  completion/available/yarn.completion.bash
  vendor/github.com/dsifford/yarn-completion/yarn
Due: dot-bash

Allow for longer command min duration (#2198)
  lib/command_duration.bash
Due: dot-bash

feature (plugins): add url manipulation plugin
  plugins/available/url.plugin.bash
Due: dot-bash

improve (plugins): add credits in url.plugin
  plugins/available/url.plugin.bash
Due: dot-bash

improve (lint): add plugins/available/url.plugin.bash
  clean_files.txt
Due: none

fix (completion): suppress 1091 in brew
  completion/available/brew.completion.bash
Due: dot-bash

feat (plugins): aes encrypt/decrypt with openssl
  plugins/available/cryptography.plugin.bash
Due: dot-bash

fix (plugins/cryptography): typo in decrypt-payload function
  plugins/available/cryptography.plugin.bash
Due: dot-bash

fix (aliases): missing alias keyword
  aliases/available/cryptography.alias.bash
Due: dot-bash

feat (alias): for cryptography plugin
  aliases/available/cryptography.alias.bash
Due: dot-bash

improve (lint): add cryptography plugin file
  clean_files.txt
Due: none

fix (completion): suppress 1091 in brew (#2130)
  completion/available/brew.completion.bash
Due: dot-bash

Update for liquidprompt v2.0
  themes/liquidprompt/liquidprompt.theme.bash
Due: dot-bash

Add a --help option
  plugins/available/gif.plugin.bash
Due: dot-bash

Fix commandline options for the current versions of gifski and gifsicle
  plugins/available/gif.plugin.bash
Due: dot-bash

[terraform] add alias for terraform workspace
  aliases/available/terraform.aliases.bash
Due: dot-bash
