Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash, clean-files-txt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
# fail_fast: true
minimum_pre_commit_version: 1.18.1
exclude: "docs/_build/"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
        exclude: ".(md|rst)$"
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-added-large-files
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: git-check  # Configure in .gitattributes
      - id: shellcheck
        exclude: ".bats$"
      - id: shfmt
        exclude: ".bats$"
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      # - id: forbid-crlf
      - id: remove-crlf
        exclude: ".bat$"
  - repo: local
    hooks:
      - id: dot-sh
        name: Check .sh files against bash-it requirements
        entry: ./hooks/dot-sh.sh
        language: system
        files: "\\.sh$"
        types: [file]
      - id: dot-bash
        name: Check .bash files against bash-it requirements
        exclude: "test/test_helper.bash"
        entry: ./hooks/dot-bash.sh
        language: system
        files: "\\.bash$"
        types: [file]
      - id: clean-files-txt
        name: Check that clean_files.txt is sorted alphabetically.
        entry: ./hooks/check-clean-files-txt.sh
        language: system
        files: clean_files.txt

Create update
  update
Due: none

update
  update
Due: none

Add support to powerline themes to override foreground color
  themes/powerline-multiline/powerline-multiline.base.bash
  themes/powerline-multiline/powerline-multiline.theme.bash
  themes/powerline-naked/powerline-naked.theme.bash
  themes/powerline-plain/powerline-plain.theme.bash
  themes/powerline/powerline.base.bash
  themes/powerline/powerline.theme.bash
Due: dot-bash

Add support to powerline themes to override foreground color (#2231)
  themes/powerline-multiline/powerline-multiline.base.bash
  themes/powerline-multiline/powerline-multiline.theme.bash
  themes/powerline-naked/powerline-naked.theme.bash
  themes/powerline-plain/powerline-plain.theme.bash
  themes/powerline/powerline.base.bash
  themes/powerline/powerline.theme.bash
Due: dot-bash

Update default behvaiour for _bash-it-history-auto-save to do nothing
  lib/history.bash
Due: dot-bash

Add pre-jgitflow function
  clean_files.txt
  plugins/available/jgitflow.plugin.bash
Due: dot-bash, clean-files-txt

added new theme (lambda)
  clean_files.txt
  themes/lambda/lambda.theme.bash
Due: dot-bash, clean-files-txt

Added screenshot of Lambda theme
  docs/images/lambda_theme.png
Due: none

Update clean_files.txt
  clean_files.txt
Due: clean-files-txt

Update lambda.theme.bash
  themes/lambda/lambda.theme.bash
Due: dot-bash

Add the PyBash theme for Python developers
  themes/pybash/pybash.theme.bash
Due: dot-bash

update the theme
  themes/pybash/pybash.theme.bash
Due: dot-bash

checked the whitespace
  themes/pybash/pybash.theme.bash
Due: dot-bash

shellcheck
  themes/pybash/pybash.theme.bash
Due: dot-bash

Fix clock_hand to display correct hour hand
  lib/command_duration.bash
Due: dot-bash

Lint
  lib/command_duration.bash
Due: dot-bash

implement #2241
  docs/README.md
  install.sh
  uninstall.sh
Due: dot-sh

ci(lint): add shell linter - Differential ShellCheck
  .github/workflows/ci.yml
Due: none

Added screenshots of Inretio theme in dark and light color schemes.
  docs/images/inretio-black.png
  docs/images/inretio-white.png
Due: none

Added new Inretio theme.
  clean_files.txt
  themes/inretio/inretio.theme.bash
Due: dot-bash, clean-files-txt

Added documentation for new Inretio theme.
  docs/themes-list/index.rst
  docs/themes-list/inretio.rst
Due: none

Fix documentation: title underline too short.
  docs/themes-list/inretio.rst
Due: none

Fix sorting in clean_files.txt list.
  clean_files.txt
Due: clean-files-txt

(update) Add some new aliases for logginng
  aliases/available/git.aliases.bash
Due: dot-bash

(fix) log aliases for git.
  aliases/available/git.aliases.bash
Due: dot-bash

Fix theme file header as required by hooks/dot-bash.sh line 15.
  themes/inretio/inretio.theme.bash
Due: dot-bash

update nvm
  enabled/365---alias-completion.plugin.bash
  enabled/800---aliases.completion.bash
Due: dot-bash

remove docker compose plugins and gh
  enabled/150---docker-compose.aliases.bash
  enabled/250---docker-compose.plugin.bash
  enabled/350---docker-compose.completion.bash
  enabled/350---gh.completion.bash
Due: dot-bash

remove unused plugins
  enabled/150---node.aliases.bash
  enabled/150---npm.aliases.bash
  enabled/225---nvm.plugin.bash
  enabled/250---node.plugin.bash
  enabled/250---nodenv.plugin.bash
  enabled/250---ruby.plugin.bash
  enabled/250---rvm.plugin.bash
  enabled/350---gem.completion.bash
  enabled/350---npm.completion.bash
  enabled/350---nvm.completion.bash
  enabled/350---rvm.completion.bash
Due: dot-bash

update bash-it config
  aliases/available/docker-compose.aliases.bash
  completion/available/docker-compose.completion.bash
  custom/powerline.bash
  enabled/150---node.aliases.bash
  enabled/150---npm.aliases.bash
  enabled/225---nvm.plugin.bash
  enabled/250---node.plugin.bash
  enabled/260---goenv.plugin.bash
  enabled/350---docker-compose.completion.bash
  enabled/350---npm.completion.bash
  enabled/350---nvm.completion.bash
Due: dot-bash

humbledneuron's theme 1st contribution, you'll love it
  themes/humbledneuron/humbledneuron.theme.bash
Due: dot-bash

Support conda environement for bira theme
  themes/bira/bira.theme.bash
Due: dot-bash

Update general.aliases.bash
  aliases/available/general.aliases.bash
Due: dot-bash

Added new feature to base.plugin.bash
  plugins/available/base.plugin.bash
Due: dot-bash

Create Kill Set up resources
  Kill Set up resources
Due: none

enable docker compose alias
  enabled/150---docker-compose.aliases.bash
Due: dot-bash

bash_profile.template.bash: fix theme location
  template/bash_profile.template.bash
Due: dot-bash

Fix commandline options for the current versions of gifski and gifsicle
  plugins/available/gif.plugin.bash
Due: dot-bash

new version of oh-my-posh breaks the init commandline, fixing to the new syntax of v24
  themes/oh-my-posh/oh-my-posh.theme.bash
Due: dot-bash
