Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash, clean-files-txt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
# fail_fast: true
minimum_pre_commit_version: 1.18.1
exclude: "docs/_build/"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
        exclude: ".(md|rst)$"
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-added-large-files
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: git-check  # Configure in .gitattributes
      - id: shellcheck
        files: "\\.(bash)$"
      - id: shfmt
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      # - id: forbid-crlf
      - id: remove-crlf
        exclude: ".bat$"
  - repo: local
    hooks:
      - id: dot-sh
        name: Check .sh files against bash-it requirements
        entry: ./hooks/dot-sh.sh
        language: system
        files: "\\.sh$"
        types: [file]
      - id: dot-bash
        name: Check .bash files against bash-it requirements
        entry: ./hooks/dot-bash.sh
        language: system
        files: "\\.bash$"
        types: [file]
      - id: clean-files-txt
        name: Check that clean_files.txt is sorted alphabetically.
        entry: ./hooks/check-clean-files-txt.sh
        language: system
        files: clean_files.txt

fix missed test assertion
  test/lib/helpers.bats
Due: none

Update kitsune.theme.bash
  themes/kitsune/kitsune.theme.bash
Due: dot-bash

WIP staged update
  themes/base.theme.bash
  themes/powerline/powerline.helpers.bash
  themes/powerline/powerline.theme.bash
  themes/powerturk/powerturk.theme.bash
Due: dot-bash

Fix for 2323 issue
  themes/powerline-multiline/powerline-multiline.base.bash
Due: dot-bash

Update base.theme.bash
  themes/base.theme.bash
Due: dot-bash

remove superfluous function and pick better var names for readability
  themes/base.theme.bash
Due: dot-bash

shfmt fix
  themes/demula/demula.theme.bash
Due: dot-bash

update
  new
Due: none

Fix: __powerline_last_status_prompt to handle unset argument safely
  themes/powerline/powerline.base.bash
Due: dot-bash

Tofu completion rewrite
  completion/available/terraform.completion.bash
Due: dot-bash

have pre-commit ignore the /vendor, they should be immutable.
  .pre-commit-config.yaml
Due: none

Clean up 5 theme files and expand linting coverage
  clean_files.txt
  themes/mairan/mairan.theme.bash
  themes/mbriggs/mbriggs.theme.bash
  themes/metal/metal.theme.bash
  themes/minimal/minimal.theme.bash
  themes/modern-t/modern-t.theme.bash
Due: dot-bash, clean-files-txt

Clean up 5 additional theme files and expand linting coverage
  clean_files.txt
  themes/modern-time/modern-time.theme.bash
  themes/morris/morris.theme.bash
  themes/n0qorg/n0qorg.theme.bash
  themes/newin/newin.theme.bash
  themes/nwinkler/nwinkler.theme.bash
Due: dot-bash, clean-files-txt

Update themes/modern-t/modern-t.theme.bash
  themes/modern-t/modern-t.theme.bash
Due: dot-bash

Add aliases for git worktree
  aliases/available/git.aliases.bash
Due: dot-bash

Fix failing CI tests in gaelic-plugins cleanup
  CLAUDE.md
  plugins/available/xterm.plugin.bash
  test/lib/utilities.bats
  themes/base.theme.bash
Due: dot-bash

ok, codecov is not really working. forgeddit.
  .github/workflows/ci.yml
  Gemfile
  Gemfile.lock
Due: none

That made little sense to me so I am undoing this.
  themes/base.theme.bash
Due: dot-bash

Fix install test to match updated template
  test/install/install.bats
Due: none

fix #2261 #2289 - $LESS is no longer clobbered globally
  plugins/available/man.plugin.bash
Due: dot-bash

Add comprehensive diagnostic summary to bash-it doctor
  lib/helpers.bash
Due: dot-bash

Add interactive update prompt and colorful output to doctor
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/README.md
  lib/helpers.bash
Due: dot-bash

Add .bashrc sourcing detection to bash-it doctor
  CLAUDE.md
  lib/helpers.bash
Due: dot-bash

Document push with upstream tracking in CLAUDE.md
  CLAUDE.md
Due: none

Update lib/helpers.bash
  lib/helpers.bash
Due: dot-bash

Use 'command' prefix to bypass user aliases in core functions
  CLAUDE.md
  lib/helpers.bash
Due: dot-bash

Add automatic .bashrc sourcing setup to install.sh
  install.sh
Due: dot-sh

Add heuristic for finding default remote name
  lib/helpers.bash
Due: dot-bash

Fix remote name detection function
  lib/helpers.bash
Due: dot-bash

Use ${BASH_VERSION-} for set -u compatibility
  CLAUDE.md
  install.sh
Due: dot-sh

I think this junk that came in the trunk should never have been in the repo.
  .gitignore
Due: none

Auto-detect git remote name instead of assuming 'origin'
  lib/helpers.bash
Due: dot-bash

Add comprehensive issue analysis and 2025 roadmap documentation
  CLAUDE.md
  docs/plans/bash-it-issues-comprehensive-analysis.md
  docs/plans/bash-it-quick-reference.md
  docs/plans/bash-it-roadmap-2025.md
Due: none

Apply review feedback: use git --git-dir and simplify awk
  lib/helpers.bash
Due: dot-bash

Fix todo.txt-cli alias install failure by renaming file
  aliases/available/todo.aliases.bash
Due: dot-bash

Add Laravel artisan completion
  completion/available/artisan.completion.bash
Due: dot-bash

Fix down4me function URL malformation issue
  plugins/available/base.plugin.bash
Due: dot-bash
