Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

dot-sh:
  name: Check .sh files against bash-it requirements
  entry: ./hooks/dot-sh.sh
  language: system

dot-bash:
  name: Check .bash files against bash-it requirements
  entry: ./hooks/dot-bash.sh
  language: system

Move `.shellcheckrc` under `themes/`
  themes/.shellcheckrc
Due: none

plugins/xterm: lint
  plugins/available/xterm.plugin.bash
Due: dot-bash

plugins/goenv: lint
  plugins/available/goenv.plugin.bash
Due: dot-bash

plugins/alias-completion: lint false positives
  plugins/available/alias-completion.plugin.bash
Due: dot-bash

completion/knife: lint
  completion/available/knife.completion.bash
Due: dot-bash

plugins/alias-completion: fix SC2155, SC2154
  plugins/available/alias-completion.plugin.bash
Due: dot-bash

completion/sdkman: lint
  completion/available/sdkman.completion.bash
Due: dot-bash

main: lint false positive
  bash_it.sh
  hooks/dot-bash.sh
  hooks/dot-sh.sh
  scripts/reloader.bash
Due: dot-sh, dot-bash

CI: disable Ubuntu 16.04 as it's EOL
  .github/workflows/ci.yml
Due: none

completion/composer: lint
  completion/available/composer.completion.bash
Due: dot-bash

completion/knife: lint false positives
  completion/available/knife.completion.bash
Due: dot-bash

install: lint
  install.sh
Due: dot-sh

Add "ohmyzsh" from "https://github.com/ohmyzsh/ohmyzsh.git@master"
  vendor/github.com/ohmyzsh/ohmyzsh/LICENSE.txt
  vendor/github.com/ohmyzsh/ohmyzsh/plugins/git/README.md
  vendor/github.com/ohmyzsh/ohmyzsh/plugins/git/git.plugin.zsh
Due: none

vendor: Fix ohmyzsh git plugin so it can be sourced
  vendor/github.com/ohmyzsh/ohmyzsh/plugins/git/git.plugin.zsh
Due: none

aliases: Add new git-omz alias file
  aliases/available/git-omz.aliases.bash
  clean_files.txt
Due: dot-bash

aliases: Do not allow mix of git-omz and git
  aliases/available/git-omz.aliases.bash
  aliases/available/git.aliases.bash
  test/lib/search.bats
Due: dot-bash

EditorConfig: set `indent_size = tab`
  .editorconfig
Due: none

lib/theme: fix SC2155, SC2154, SC2034
  themes/base.theme.bash
Due: dot-bash

themes: disable SC2154 for colors
  themes/atomic/atomic.theme.bash
  themes/bakke/bakke.theme.bash
  themes/barbuk/barbuk.theme.bash
  themes/binaryanomaly/binaryanomaly.theme.bash
  themes/bira/bira.theme.bash
  themes/bobby-python/bobby-python.theme.bash
  themes/bobby/bobby.theme.bash
  themes/brainy/brainy.theme.bash
  themes/brunton/brunton.theme.bash
  themes/candy/candy.theme.bash
  themes/easy/easy.theme.bash
  themes/modern/modern.theme.bash
  themes/pure/pure.theme.bash
Due: dot-bash

themes: disable SC2154, fix SC2155
  themes/90210/90210.theme.bash
  themes/powerline/powerline.base.bash
  themes/powerline/powerline.theme.bash
  themes/purity/purity.theme.bash
Due: dot-bash

lib/colors: don't warn on unused variables
  themes/colors.theme.bash
Due: dot-bash

themes/agnoster: lint
  themes/agnoster/agnoster.theme.bash
Due: dot-bash

remove executable bit
  lib/helpers.bash
  lib/log.bash
  lib/search.bash
  lib/utilities.bash
Due: dot-bash

Delete `.shellcheckrc`
  themes/.shellcheckrc
Due: none

Use `$PWD` instead of `\`pwd\``
  completion/available/gradle.completion.bash
  plugins/available/dirs.plugin.bash
Due: dot-bash

Use `${PWD}` instead of `$(pwd)`
  completion/available/hub.completion.bash
  lib/helpers.bash
  plugins/available/dirs.plugin.bash
  themes/powerturk/powerturk.theme.bash
Due: dot-bash

test: Use `${PWD}` instead of `$(pwd)`
  test/plugins/base.plugin.bats
  test/run
Due: none

Remove executable bit
  completion/available/fabric.completion.bash
  completion/available/git.completion.bash
  completion/available/system.completion.bash
  plugins/available/base.plugin.bash
  plugins/available/jump.plugin.bash
  plugins/available/todo.plugin.bash
  themes/powerturk/powerturk.theme.bash
Due: dot-bash

upstream merge
  themes/base.theme.bash
Due: dot-bash

plugins/textmate: use `_command_exists`
  clean_files.txt
  plugins/available/textmate.plugin.bash
Due: dot-bash

plugins/powerline: use `_command_exists`
  plugins/available/powerline.plugin.bash
Due: dot-bash

plugins/nvm: use `_command_exists`
  plugins/available/nvm.plugin.bash
Due: dot-bash

plugins/node: use `_command_exists`
  clean_files.txt
  plugins/available/node.plugin.bash
Due: dot-bash

plugins/jump: use `_command_exists`
  clean_files.txt
  plugins/available/jump.plugin.bash
Due: dot-bash

aliases/apt: use `_command_exists`
  aliases/available/apt.aliases.bash
Due: dot-bash

plugins/base: use `_command_exists`
  plugins/available/base.plugin.bash
Due: dot-bash

plugins/hub: use `_command_exists`
  clean_files.txt
  plugins/available/hub.plugin.bash
Due: dot-bash

completion/git_flow_avh: use `_command_exists`
  completion/available/git_flow_avh.completion.bash
Due: dot-bash

Path conditions:
  dot-sh: any of: \.sh$, but not: docs/_build/
  dot-bash: any of: \.bash$ and not (test/test_helper.bash) and not (docs/_build/)
