Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

dot-sh:
  name: Check .sh files against bash-it requirements
  entry: ./hooks/dot-sh.sh
  language: system

dot-bash:
  name: Check .bash files against bash-it requirements
  entry: ./hooks/dot-bash.sh
  language: system

test/ruby: adopt newly revamped `setup()`
  test/plugins/ruby.plugin.bats
Due: none

test/preexec: adopt newly revamped `setup()`
  test/lib/preexec.bats
Due: none

test/xterm: adopt newly revamped `setup()`
  test/plugins/xterm.plugin.bats
Due: none

test/aliases: adopt newly revamped `setup()`
  test/completion/aliases.completion.bats
Due: none

test/bash-it: adopt newly revamped `setup()`
  test/completion/bash-it.completion.bats
Due: none

BATS: de-parallelize
  test/run
Due: none

test/bash_it: adopt newly revamped `setup()`
  test/bash_it/bash_it.bats
Due: none

test/log: adopt newly revamped `setup()`
  test/lib/log.bats
Due: none

test/theme: adopt newly revamped `setup()`
  test/themes/base.theme.bats
  test/themes/base.theme.git.bats
  test/themes/base.theme.svn.bats
Due: none

test/go: adopt newly revamped `setup()`
  test/plugins/go.plugin.bats
Due: none

test/base: adopt newly revamped `setup()`
  test/plugins/base.plugin.bats
Due: none

test/utilities: adopt newly revamped `setup()`
  test/lib/utilities.bats
Due: none

plugins: clear and consistent log messages
  clean_files.txt
  plugins/available/autojump.plugin.bash
  plugins/available/basher.plugin.bash
  plugins/available/cht-sh.plugin.bash
  plugins/available/direnv.plugin.bash
  plugins/available/fasd.plugin.bash
  plugins/available/go.plugin.bash
  plugins/available/goenv.plugin.bash
  plugins/available/hub.plugin.bash
  plugins/available/jenv.plugin.bash
  plugins/available/jump.plugin.bash
  plugins/available/less-pretty-cat.plugin.bash
  plugins/available/node.plugin.bash
  plugins/available/nodenv.plugin.bash
  plugins/available/nvm.plugin.bash
  plugins/available/percol.plugin.bash
  plugins/available/plenv.plugin.bash
  plugins/available/powerline.plugin.bash
  plugins/available/pyenv.plugin.bash
  plugins/available/rbenv.plugin.bash
  plugins/available/ruby.plugin.bash
  plugins/available/textmate.plugin.bash
  plugins/available/thefuck.plugin.bash
  plugins/available/zoxide.plugin.bash
Due: dot-bash

plugins/go: simplify _bash-it-gopath-pathmunge()
  plugins/available/go.plugin.bash
  test/plugins/go.plugin.bats
Due: dot-bash

plugin/gitstatus: `shellcheck`
  clean_files.txt
  plugins/available/gitstatus.plugin.bash
Due: dot-bash

plugin/fzf: `shellcheck`
  plugins/available/fzf.plugin.bash
Due: dot-bash

plugin/nvm: fix homebrew path
  plugins/available/nvm.plugin.bash
Due: dot-bash

Revert "bash_it: source reloader.bash without arguments for the default enabling"
  bash_it.sh
Due: dot-sh

lib/theme: Fix a *few* SC2154
  themes/base.theme.bash
Due: dot-bash

lib/p4helpers: `shfmt`
  clean_files.txt
  themes/p4helpers.theme.bash
Due: dot-bash

lib/githelpers: `shfmt` && `shellcheck`
  clean_files.txt
  themes/githelpers.theme.bash
Due: dot-bash

lib/theme: `shfmt` && `shellcheck`
  themes/base.theme.bash
Due: dot-bash

lib/theme: eliminate a lot of subshells
  themes/base.theme.bash
Due: dot-bash

lib/theme: `local hg_root` in `hg_prompt_vars()`
  themes/base.theme.bash
Due: dot-bash

lib/theme.githelpers: remove dead code
  themes/githelpers.theme.bash
Due: dot-bash

lib/theme: parameter cleanup
  themes/base.theme.bash
Due: dot-bash

lib/theme: improve performance of `scm()`
  themes/base.theme.bash
Due: dot-bash

lib/theme: export `$LS_COLORS` et al
  themes/base.theme.bash
Due: dot-bash

lib/theme: use `_command_exists()` in `rbenv_version_prompt()`
  themes/base.theme.bash
Due: dot-bash

test/base: lose old TravisCS skip
  test/plugins/base.plugin.bats
Due: none

test/battery: fix tests…
  test/plugins/battery.plugin.bats
Due: none

Revert dc380e9ed6f42967e759e8b66791f796db964843
  test/plugins/battery.plugin.bats
Due: none

plugin/battery: fix handling of multiple batteries with `upower`
  plugins/available/battery.plugin.bash
  test/plugins/battery.plugin.bats
Due: dot-bash

lib/appearance: export `$CLICOLOR` instead of `$LSCOLOR`
  lib/appearance.bash
  lib/log.bash
  themes/base.theme.bash
Due: dot-bash

lib/appearance: `shellcheck` && `shfmt`
  clean_files.txt
  lib/appearance.bash
Due: dot-bash

make aliases load very late
  lib/helpers.bash
  test/bash_it/bash_it.bats
  test/completion/bash-it.completion.bats
  test/install/install.bats
  test/lib/helpers.bats
  test/lib/utilities.bats
Due: dot-bash

docs: load aliases late
  docs/development.rst
Due: none

plugin/extract: `shellcheck`
  clean_files.txt
  plugins/available/extract.plugin.bash
Due: dot-bash

aliases/editor: split out editor shortcuts
  aliases/available/editor.aliases.bash
  aliases/available/general.aliases.bash
  aliases/available/vim.aliases.bash
  profiles/default.bash_it
Due: dot-bash

plugin/extract: `shfmt`
  plugins/available/extract.plugin.bash
Due: dot-bash

Path conditions:
  dot-sh: any of: \.sh$, but not: docs/_build/
  dot-bash: any of: \.bash$ and not (test/test_helper.bash) and not (docs/_build/)
