Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash, clean-files-txt

dot-sh:
  name: Check .sh files against bash-it requirements
  entry: ./hooks/dot-sh.sh
  language: system

dot-bash:
  name: Check .bash files against bash-it requirements
  entry: ./hooks/dot-bash.sh
  language: system

clean-files-txt:
  name: Check that clean_files.txt is sorted alphabetically.
  entry: ./hooks/check-clean-files-txt.sh
  language: system

another shellcheck annoyance
  test/test_helper.bash
Due: dot-bash

Update bash_it.sh
  bash_it.sh
Due: dot-sh

Update test/test_helper.bash
  test/test_helper.bash
Due: dot-bash

Add shellcheck headers
  themes/mairan/mairan.theme.bash
  themes/mbriggs/mbriggs.theme.bash
  themes/metal/metal.theme.bash
  themes/minimal/minimal.theme.bash
  themes/modern-t/modern-t.theme.bash
  themes/modern-time/modern-time.theme.bash
  themes/morris/morris.theme.bash
  themes/n0qorg/n0qorg.theme.bash
  themes/newin/newin.theme.bash
  themes/nwinkler/nwinkler.theme.bash
  themes/nwinkler_random_colors/nwinkler_random_colors.theme.bash
  themes/oh-my-posh/oh-my-posh.theme.bash
  themes/parrot/parrot.theme.bash
  themes/powerline-plain/powerline-plain.base.bash
  themes/powerline-plain/powerline-plain.theme.bash
  themes/powerturk/powerturk.theme.bash
  themes/primer/primer.theme.bash
  themes/pro/pro.theme.bash
  themes/radek/radek.theme.bash
  themes/rainbowbrite/rainbowbrite.theme.bash
  themes/ramses/ramses.theme.bash
  themes/rana/rana.theme.bash
  themes/redline/redline.theme.bash
  themes/robbyrussell/robbyrussell.theme.bash
  themes/roderik/roderik.theme.bash
  themes/sexy/sexy.theme.bash
  themes/simple/simple.theme.bash
  themes/sirup/sirup.theme.bash
  themes/slick/slick.theme.bash
  themes/standard/standard.theme.bash
  themes/tonka/tonka.theme.bash
  themes/tonotdo/tonotdo.theme.bash
  themes/tylenol/tylenol.theme.bash
  themes/wanelo/wanelo.theme.bash
  themes/zitron/zitron.theme.bash
  themes/zork/zork.theme.bash
Due: dot-bash

Fix SC2155 violations in theme files
  themes/mbriggs/mbriggs.theme.bash
  themes/powerline-plain/powerline-plain.base.bash
  themes/sirup/sirup.theme.bash
  themes/slick/slick.theme.bash
  themes/zork/zork.theme.bash
Due: dot-bash

Fix SC2086 violations in theme files
  clean_files.txt
  themes/mairan/mairan.theme.bash
  themes/modern-t/modern-t.theme.bash
  themes/nwinkler_random_colors/nwinkler_random_colors.theme.bash
  themes/powerline-plain/powerline-plain.base.bash
  themes/powerturk/powerturk.theme.bash
  themes/ramses/ramses.theme.bash
  themes/rana/rana.theme.bash
  themes/sirup/sirup.theme.bash
  themes/slick/slick.theme.bash
  themes/zork/zork.theme.bash
Due: dot-bash, clean-files-txt

a few more shellcheck fixes and I think we are done.
  themes/metal/metal.theme.bash
  themes/modern-time/modern-time.theme.bash
  themes/parrot/parrot.theme.bash
  themes/powerline-plain/powerline-plain.base.bash
  themes/powerturk/powerturk.theme.bash
  themes/standard/standard.theme.bash
  themes/zitron/zitron.theme.bash
Due: dot-bash

last touches followin automatic tests
  themes/mairan/mairan.theme.bash
  themes/powerturk/powerturk.theme.bash
Due: dot-bash

Add bash 4+ version check to pack plugin (#2358)
  bash_it.sh
  install.sh
  plugins/available/history-eternal.plugin.bash
  plugins/available/pack.plugin.bash
  plugins/available/percol.plugin.bash
Due: dot-sh, dot-bash

Update themes/mairan/mairan.theme.bash
  themes/mairan/mairan.theme.bash
Due: dot-bash

Update themes/powerturk/powerturk.theme.bash
  themes/powerturk/powerturk.theme.bash
Due: dot-bash

Koichi is really good at Bash Pokemon...
  themes/mairan/mairan.theme.bash
  themes/modern-time/modern-time.theme.bash
  themes/nwinkler_random_colors/nwinkler_random_colors.theme.bash
  themes/parrot/parrot.theme.bash
  themes/ramses/ramses.theme.bash
  themes/rana/rana.theme.bash
  themes/sirup/sirup.theme.bash
  themes/slick/slick.theme.bash
  themes/zork/zork.theme.bash
Due: dot-bash

zitron was broken, I think this is what the really meant.
  themes/zitron/zitron.theme.bash
Due: dot-bash

localize one var and save a few bytes
  themes/clean/clean.theme.bash
Due: dot-bash

add profile
  profiles/default.bash_it
Due: none

add
  install.sh
Due: dot-sh

Fix pre-commit failures in themes directory
  themes/modern-t/modern-t.theme.bash
  themes/powerturk/powerturk.theme.bash
Due: dot-bash

Test
  themes/modern-t/modern-t.theme.bash
Due: dot-bash

Fix formatting issues in README.md
  docs/README.md
Due: none

Fix theme prompt formatting in bira.theme.bash
  themes/bira/bira.theme.bash
Due: dot-bash

Bump go version to 1.25.8
  .github/workflows/ci.yml
Due: none

Pin github action to sha releases
  .github/workflows/ci.yml
Due: none

Update precommit hooks with 10 days cooldown and pin to sha1 commit
  .pre-commit-config.yaml
Due: none

Update python to 3.12
  .github/workflows/ci.yml
Due: none

Update python deps to fixed version
  docs/requirements.txt
  test/lint-requirements.txt
Due: none

New tab completions: 1password-cli and herdr
  completion/available/herdr.completion.bash
  completion/available/op.completion.bash
Due: dot-bash

fix(ci): extend bats TAP count mismatch fix to macOS
  .github/workflows/ci.yml
Due: none

Tests for completions: op, herdr
  test/completion/herdr.completion.bats
  test/completion/op.completion.bats
Due: none

Local+isolated test runner and documentation update
  docs/test.rst
  test/run-local
Due: none

feat: cache distro/nodejs/rust at startup
  themes/tokyonight/tokyonight.theme.bash
Due: dot-bash

Fix syntax error in alias completion when alias contains a single quote
  completion/available/aliases.completion.bash
Due: dot-bash

feat(aliases): add history, history undo, repolist, repoquery, and check aliases to dnf
  aliases/available/dnf.aliases.bash
Due: dot-bash

Create fuzzy-fortnight.git
  SECURITY.md
Due: none

Path conditions:
  dot-sh: any of: \.sh$, but not: docs/_build/
  dot-bash: any of: \.bash$, but not: docs/_build/
  clean-files-txt: any of: clean_files.txt, but not: docs/_build/
