Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash, clean-files-txt

dot-sh:
  name: Check .sh files against bash-it requirements
  entry: ./hooks/dot-sh.sh
  language: system

dot-bash:
  name: Check .bash files against bash-it requirements
  entry: ./hooks/dot-bash.sh
  language: system

clean-files-txt:
  name: Check that clean_files.txt is sorted alphabetically.
  entry: ./hooks/check-clean-files-txt.sh
  language: system

Update completion/available/gradle.completion.bash
  completion/available/gradle.completion.bash
Due: dot-bash

Update completion/available/rvm.completion.bash
  completion/available/rvm.completion.bash
Due: dot-bash

lots of suggested fixes from @akinomyoga
  completion/available/fabric.completion.bash
  completion/available/vagrant.completion.bash
Due: dot-bash

even more fixes from @akinomyoga
  completion/available/gradle.completion.bash
Due: dot-bash

yet more fixes from @akinomyoga
  completion/available/fabric.completion.bash
  completion/available/gradle.completion.bash
Due: dot-bash

Update completion/available/fabric.completion.bash
  completion/available/fabric.completion.bash
Due: dot-bash

some last readability and logic fixes. hopefully the last round.
  completion/available/gradle.completion.bash
Due: dot-bash

Supercalifragelisticexpialidociousable
  completion/available/gradle.completion.bash
Due: dot-bash

Fix path substitution to not break editor highlighting
  completion/available/gradle.completion.bash
Due: dot-bash

Fix format
  aliases/available/general.aliases.bash
Due: dot-bash

Fix issues from merge conflict
  completion/available/defaults.completion.bash
  completion/available/gradle.completion.bash
  completion/available/pew.completion.bash
  completion/available/travis.completion.bash
Due: dot-bash

FUNCTIONAL: Do not replace already existing completions
  completion/available/aliases.completion.bash
Due: dot-bash

FUNCTIONAL: Replace alias completions on reload
  completion/available/aliases.completion.bash
Due: dot-bash

Remove old aliases
  completion/available/aliases.completion.bash
Due: dot-bash

Update aliases/available/git-omz.aliases.bash
  aliases/available/git-omz.aliases.bash
Due: dot-bash

Update aliases/available/git.aliases.bash
  aliases/available/git.aliases.bash
Due: dot-bash

fix the shellcheck and linter issues
  aliases/available/git-omz.aliases.bash
  aliases/available/git.aliases.bash
  test/lib/search.bats
Due: dot-bash

also, github no longer supports testing on ubuntu 20.04
  .github/workflows/ci.yml
Due: none

fix the shellcheck and linter issues
  themes/powerline-naked/powerline-naked.base.bash
Due: dot-bash

Update themes/base.theme.bash
  themes/base.theme.bash
Due: dot-bash

another lint issue
  clean_files.txt
Due: clean-files-txt

another lint issue
  test/lib/utilities.bats
Due: none

localize a var. nice catch @akinomyoga
  completion/available/aliases.completion.bash
Due: dot-bash

clean up themes/robbyrussell
  clean_files.txt
  themes/robbyrussell/robbyrussell.theme.bash
Due: dot-bash, clean-files-txt

clean up themes/powerline-naked
  themes/powerline-naked/powerline-naked.base.bash
Due: dot-bash

auto-compat with OpenTofu, and co-pilot suggested a few more aliases. hmm.
  aliases/available/terraform.aliases.bash
Due: dot-bash

git aliases: removed needless space, added alias for mergetool.
  aliases/available/git.aliases.bash
Due: dot-bash

general aliases: pointing at /home/$USER is a wild assumption, corrected to $HOME
  aliases/available/general.aliases.bash
Due: dot-bash

have terraform completion support also OpenTofu
  completion/available/terraform.completion.bash
Due: dot-bash

implement #2275 more elegantly
  aliases/available/laravel.aliases.bash
Due: dot-bash

install: use `.bashrc` and notify user
  install.sh
  test/install/install.bats
Due: dot-sh

install: cleanup
  install.sh
  template/bashrc.template.bash
Due: dot-sh, dot-bash

uninstall: cleanup
  clean_files.txt
  uninstall.sh
Due: dot-sh, clean-files-txt

docs: fix references to `~/.bashrc`
  docs/installation.rst
  docs/themes-list/atomic.rst
  docs/themes-list/powerline-base.rst
  docs/themes-list/powerline-multiline.rst
  docs/vcs_user.rst
Due: none

install: `_bash-it-install-modify-profile()`
  install.sh
Due: dot-sh

uninstall: //echo/printf
  uninstall.sh
Due: dot-sh

uninstall: try to determine initialization file
  test/install/uninstall.bats
  uninstall.sh
Due: dot-sh

Path conditions:
  dot-sh: any of: \.sh$, but not: docs/_build/
  dot-bash: any of: \.bash$ and not (test/test_helper.bash) and not (docs/_build/)
  clean-files-txt: any of: clean_files.txt, but not: docs/_build/
