Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

dot-sh:
  name: Check .sh files against bash-it requirements
  entry: ./hooks/dot-sh.sh
  language: system

dot-bash:
  name: Check .bash files against bash-it requirements
  entry: ./hooks/dot-bash.sh
  language: system

lib/log: `shellcheck` && `shfmt`
  clean_files.txt
  lib/log.bash
  test/lib/log.bats
Due: dot-bash

lib/log: rename `_log_general()`
  lib/log.bash
Due: dot-bash

Fix home dir substitution
  themes/powerline/powerline.base.bash
Due: dot-bash

Update powerline.base.bash
  themes/powerline/powerline.base.bash
Due: dot-bash

use `\w`
  themes/powerline/powerline.base.bash
Due: dot-bash

lib/utilities: new function `_bash-it-egrep()`
  lib/utilities.bash
Due: dot-bash

lib/utilities: quote SC2295
  lib/utilities.bash
Due: dot-bash

lib/utilities: XDG_CACHE_HOME
  lib/utilities.bash
Due: dot-bash

lib/log: function `_bash-it-log-prefix-by-path()`
  lib/log.bash
Due: dot-bash

main: Glob for *.bash properly when path contains spaces
  bash_it.sh
Due: dot-sh

lib/appearance: `shellcheck` && `shfmt`
  clean_files.txt
  lib/appearance.bash
Due: dot-bash

main: simplify flow of lib loader loop
  bash_it.sh
Due: dot-sh

main: adopt `_bash-it-log-prefix-by-path()`
  bash_it.sh
Due: dot-sh

uninstall: `shellcheck` && `shfmt`
  clean_files.txt
  uninstall.sh
Due: dot-sh

reloader: `shellcheck` && `shfmt`
  clean_files.txt
  scripts/reloader.bash
Due: dot-bash

lib/reloader: adopt `_bash-it-log-prefix-by-path()`
  scripts/reloader.bash
Due: dot-bash

lib/preview: `shfmt` && `shellcheck`
  clean_files.txt
  lib/preview.bash
Due: dot-bash

lint: add lib to clean_files.txt
  clean_files.txt
Due: none

lib: delete `appearance.bash`
  bash_it.sh
  clean_files.txt
  lib/appearance.bash
  plugins/available/base.plugin.bash
Due: dot-sh, dot-bash

plugin/dirs: `shfmt` && `shellcheck`
  clean_files.txt
  plugins/available/dirs.plugin.bash
Due: dot-bash

plugins/dirs: use XDG_STATE_HOME
  plugins/available/dirs.plugin.bash
Due: dot-bash

Fix save-and-reload-history command not found
  themes/powerline/powerline.base.bash
Due: dot-bash

Use `_bash-it-egrep()`
  lib/helpers.bash
  lib/search.bash
  lib/utilities.bash
Due: dot-bash

Get rid of my SC2154 exceptions as suggested by @gaelicWizard
  themes/powerline-multiline/powerline-multiline.base.bash
  themes/powerline-naked/powerline-naked.base.bash
  themes/powerline-plain/powerline-plain.base.bash
  themes/powerturk/powerturk.theme.bash
Due: dot-bash

preexec: set options before load
  bash_it.sh
  vendor/init.d/preexec.bash
Due: dot-sh, dot-bash

plugin/xterm: don't rely on `$1`
  plugins/available/xterm.plugin.bash
Due: dot-bash

Look for branches that are literally the word main
  aliases/available/git.aliases.bash
Due: dot-bash

EditorConfig: set `function_next_line`
  .editorconfig
Due: none

EditorConfig: set `binary_next_line` to false
  .editorconfig
Due: none

Use `/b` to find the default branch, instead of start/end of line
  aliases/available/git.aliases.bash
Due: dot-bash

Use \s instead of \b
  aliases/available/git.aliases.bash
Due: dot-bash

docs: Pin docutils to 0.17.1
  docs/requirements.txt
Due: none

Make the regex looking for the main branch match the entire line
  aliases/available/git.aliases.bash
Due: dot-bash

Fix code style
  install.sh
Due: dot-sh

Deduce $BASH_IT relative to install script location at execution
  install.sh
Due: dot-sh

Then use $BASH_IT
  install.sh
Due: dot-sh

Where did my original .bash_profile go?
  install.sh
Due: dot-sh

What if .bash_profile doesn't exist?
  install.sh
Due: dot-sh

Path conditions:
  dot-sh: any of: \.sh$, but not: docs/_build/
  dot-bash: any of: \.bash$ and not (test/test_helper.bash) and not (docs/_build/)
