Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

dot-sh:
  name: Check .sh files against bash-it requirements
  entry: ./hooks/dot-sh.sh
  language: system

dot-bash:
  name: Check .bash files against bash-it requirements
  entry: ./hooks/dot-bash.sh
  language: system

profiles: Add new default profile
  profiles/default.bash_it
Due: none

lib: helpers: Rename _bash-it-process-component to _bash-it-determine-component-status-from-path
  lib/helpers.bash
Due: dot-bash

completion: Add bash-it profile subcommand
  completion/available/bash-it.completion.bash
Due: dot-bash

helpers: Print type when using disable all
  lib/helpers.bash
Due: dot-bash

helpers: Improve bash-it profile messages
  lib/helpers.bash
Due: dot-bash

install: Load log file
  install.sh
Due: dot-sh

helpers: Add bash-it profile rm
  lib/helpers.bash
Due: dot-bash

tests: Add more bash-it profile tests
  test/lib/helpers.bats
Due: none

helpers: Add help message for bash-it profile
  lib/helpers.bash
Due: dot-bash

completion: Add completion for bash-it profile rm/list
  completion/available/bash-it.completion.bash
Due: dot-bash

helpers: Add bash-it profile list
  lib/helpers.bash
Due: dot-bash

test: helpers: Add profile command tests
  test/fixtures/bash_it/profiles/test-bad-component.bash_it
  test/fixtures/bash_it/profiles/test-bad-type.bash_it
  test/lib/helpers.bats
Due: none

gitignore: Ignore new profiles
  .gitignore
Due: none

test: Fix completion tests and add profile completion ones
  test/completion/bash-it.completion.bats
Due: none

helpers: Add useful log in case of empty config
  lib/helpers.bash
Due: dot-bash

docs: Add profile command docs
  docs/commands/index.rst
  docs/commands/profile.rst
Due: none

helpers: Disallow removing the default profile with bash-it profile rm
  lib/helpers.bash
Due: dot-bash

install: Use new profile load command
  install.sh
Due: dot-sh

pull in rcaloras/bash-preexec#119
  vendor/github.com/rcaloras/bash-preexec/119.patch
  vendor/github.com/rcaloras/bash-preexec/README.md
  vendor/github.com/rcaloras/bash-preexec/bash-preexec.sh
  vendor/github.com/rcaloras/bash-preexec/test/bash-preexec.bats
Due: dot-sh

skip go tests when go is not available
  test/plugins/go.plugin.bats
Due: none

fix based on remarks on PR
  themes/powerline-multiline/powerline-multiline.base.bash
  themes/powerline-naked/powerline-naked.base.bash
  themes/powerline/powerline.base.bash
Due: dot-bash

ci: Bump go to 1.17 from 1.14
  .github/workflows/ci.yml
Due: none

More cleanup and shellcheck compliance
  clean_files.txt
  themes/powerline-multiline/powerline-multiline.base.bash
  themes/powerline-plain/powerline-plain.base.bash
  themes/powerturk/powerturk.theme.bash
Due: dot-bash

Let's pass that lint test, shall we?
  themes/powerline-naked/powerline-naked.base.bash
Due: dot-bash

theme/powerline: fix an oops in the last patch
  themes/powerline/powerline.base.bash
Due: dot-bash

lib/utilities: simplify `_bash-it-array-dedup()`
  lib/utilities.bash
Due: dot-bash

lib/utilities: `_bash-it-component-help()`
  lib/utilities.bash
Due: dot-bash

lib/helpers: first `shellcheck` pass
  lib/helpers.bash
  test/fixtures/go/go path/bin/.keep
  test/fixtures/go/gopath/bin/.keep
  test/fixtures/go/gopath2/bin/.keep
  test/plugins/go.plugin.bats
  test/plugins/ruby.plugin.bats
Due: dot-bash

lib/helpers: fix `_command_exists()`
  lib/helpers.bash
Due: dot-bash

lib/helpers: `shfmt`
  clean_files.txt
  lib/helpers.bash
Due: dot-bash

lib/helpers: fix `all_groups()`
  lib/helpers.bash
Due: dot-bash

lib/helpers: second `shellcheck` pass
  lib/helpers.bash
Due: dot-bash

plugins/ruby: tests on Mac OS X
  test/plugins/ruby.plugin.bats
Due: none

lib/helpers: fix `_bash-it-describe()`
  lib/helpers.bash
  test/lib/helpers.bats
Due: dot-bash

lib/helpers: cleanup
  lib/helpers.bash
Due: dot-bash

lib/search: code style cleanup
  lib/search.bash
Due: dot-bash

lib/search: fix `_bash-it-flash-term()`
  lib/search.bash
Due: dot-bash

lib/search: `shfmt`
  clean_files.txt
  lib/search.bash
Due: dot-bash

lib/search: fix usage statement `_bash-it-search()`
  lib/search.bash
Due: dot-bash

lib/search: `shellcheck`
  lib/search.bash
  test/lib/search.bats
Due: dot-bash

Path conditions:
  dot-sh: any of: \.sh$, but not: docs/_build/
  dot-bash: any of: \.bash$ and not (test/test_helper.bash) and not (docs/_build/)
