Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash, clean-files-txt

dot-sh:
  name: Check .sh files against bash-it requirements
  entry: ./hooks/dot-sh.sh
  language: system

dot-bash:
  name: Check .bash files against bash-it requirements
  entry: ./hooks/dot-bash.sh
  language: system

clean-files-txt:
  name: Check that clean_files.txt is sorted alphabetically.
  entry: ./hooks/check-clean-files-txt.sh
  language: system

Pass the shellcheck lint test
  themes/brainy/brainy.theme.bash
Due: dot-bash

lint cleanup for shfmt
  clean_files.txt
  plugins/available/browser.plugin.bash
  themes/inretio/inretio.theme.bash
  themes/lambda/lambda.theme.bash
Due: dot-bash, clean-files-txt

lint cleanup for shfmt
  clean_files.txt
  docs/themes-list/inretio.rst
  plugins/available/browser.plugin.bash
  themes/inretio/inretio.theme.bash
  themes/lambda/lambda.theme.bash
Due: dot-bash, clean-files-txt

linting the bats
  test/plugins/cmd-returned-notify.plugin.bats
Due: none

linting the bats
  aliases/available/git.aliases.bash
  test/plugins/battery.plugin.bats
  themes/base.theme.bash
Due: dot-bash

I merged the jgit too soon.
  plugins/available/jgitflow.plugin.bash
Due: dot-bash

Revert "Revert "bash_it: source reloader.bash without arguments for the default enabling""
  bash_it.sh
Due: dot-sh

lib/command_duration: avoid relying on a specific locale
  lib/command_duration.bash
Due: dot-bash

Start checking one newer macos, the old versions are getting irrelevant
  .github/workflows/ci.yml
Due: none

I guess this needs to be fixed to pass the tests...
  test/plugins/battery.plugin.bats
Due: none

fixing docker-compose.plugin.bash
  clean_files.txt
  plugins/available/docker-compose.plugin.bash
Due: dot-bash, clean-files-txt

fixing gradle
  clean_files.txt
  plugins/available/gradle.plugin.bash
Due: dot-bash, clean-files-txt

fixing salt
  clean_files.txt
  completion/available/salt.completion.bash
Due: dot-bash, clean-files-txt

fixing bundler
  clean_files.txt
  completion/available/bundler.completion.bash
Due: dot-bash, clean-files-txt

fixing plugins/available/z_autoenv.plugin.bash
  clean_files.txt
  plugins/available/z_autoenv.plugin.bash
Due: dot-bash, clean-files-txt

fixing plugins/available/virtualenv.plugin.bash
  clean_files.txt
  plugins/available/virtualenv.plugin.bash
Due: dot-bash, clean-files-txt

fixing plugins/available/thefuck.plugin.bash
  clean_files.txt
  plugins/available/thefuck.plugin.bash
Due: dot-bash, clean-files-txt

fixing plugins/available/sudo.plugin.bash
  clean_files.txt
  plugins/available/sudo.plugin.bash
Due: dot-bash, clean-files-txt

fixing lavavel alias
  aliases/available/laravel.aliases.bash
Due: dot-bash

also check on latest ubuntu
  .github/workflows/ci.yml
Due: none

some compgen tricks are just too complex to write "by the rules"
  clean_files.txt
  completion/available/capistrano.completion.bash
Due: dot-bash, clean-files-txt

shfmt and shellcheck, dirs.completion is ready
  clean_files.txt
  completion/available/dirs.completion.bash
Due: dot-bash, clean-files-txt

shfmt and shellcheck, docker-compose.completion is ready
  clean_files.txt
  completion/available/docker-compose.completion.bash
Due: dot-bash, clean-files-txt

Allow setting git current user and add a default icon
  docs/themes-list/barbuk.rst
  themes/barbuk/barbuk.theme.bash
Due: dot-bash

ironing this odd lint problem
  clean_files.txt
  plugins/available/z_autoenv.plugin.bash
Due: dot-bash, clean-files-txt

ironing this odd lint problem
  plugins/available/z_autoenv.plugin.bash
Due: dot-bash

you go "quote-TOAH" on that thang!
  plugins/available/z_autoenv.plugin.bash
Due: dot-bash

First attempt: just a naiive upgrade of BATS
  .gitmodules
Due: none

no need to test so many versions, just the newest and oldest, I think?
  .github/workflows/ci.yml
Due: none

security suggestion from github
  themes/doubletime/doubletime.theme.bash
Due: dot-bash

security suggestion from github
  clean_files.txt
  themes/doubletime/doubletime.theme.bash
Due: dot-bash, clean-files-txt

security suggestion from github
  clean_files.txt
  themes/rjorgenson/rjorgenson.theme.bash
Due: dot-bash, clean-files-txt

Cleanup subversion plugin
  clean_files.txt
  plugins/available/subversion.plugin.bash
Due: dot-bash, clean-files-txt

Cleanup sshagent plugin
  plugins/available/sshagent.plugin.bash
Due: dot-bash

Cleanup sshagent plugin
  clean_files.txt
  plugins/available/ssh.plugin.bash
Due: dot-bash, clean-files-txt

Cleanup rvm plugin
  clean_files.txt
  plugins/available/rvm.plugin.bash
Due: dot-bash, clean-files-txt

Cleanup rails plugin
  clean_files.txt
  plugins/available/rails.plugin.bash
Due: dot-bash, clean-files-txt

Cleanup postgres plugin
  clean_files.txt
  plugins/available/postgres.plugin.bash
Due: dot-bash, clean-files-txt

Cleanup pipsi plugin
  plugins/available/pipsi.plugin.bash
Due: dot-bash

Path conditions:
  dot-sh: any of: \.sh$, but not: docs/_build/
  dot-bash: any of: \.bash$ and not (test/test_helper.bash) and not (docs/_build/)
  clean-files-txt: any of: clean_files.txt, but not: docs/_build/
