Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
# fail_fast: true
minimum_pre_commit_version: 1.18.1
exclude: "docs/_build/"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
        exclude: ".(md|rst)$"
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-added-large-files
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.4
    hooks:
      - id: git-check  # Configure in .gitattributes
      - id: shellcheck
        exclude: ".bats$"
      - id: shfmt
        exclude: ".bats$"
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      # - id: forbid-crlf
      - id: remove-crlf
        exclude: ".bat$"
  - repo: local
    hooks:
      - id: dot-sh
        name: Check .sh files against bash-it requirements
        entry: ./hooks/dot-sh.sh
        language: system
        files: "\\.sh$"
        types: [file]
      - id: dot-bash
        name: Check .bash files against bash-it requirements
        exclude: "test/test_helper.bash"
        entry: ./hooks/dot-bash.sh
        language: system
        files: "\\.bash$"
        types: [file]

tests: add *.bats to `.editorconfig`
  .editorconfig
Due: none

Add conda_or_venv_prompt function
  themes/base.theme.bash
  themes/robbyrussell/robbyrussell.theme.bash
Due: dot-bash

lib/preexec: tests!
  test/lib/preexec.bats
Due: none

lib/helpers: eliminate assumptions about login shells
  lib/helpers.bash
Due: dot-bash

lib/reloader: adopt `_bash-it-log-prefix-by-path()`
  scripts/reloader.bash
Due: dot-bash

reloader: `shellcheck` && `shfmt`
  clean_files.txt
  scripts/reloader.bash
Due: dot-bash

plugin/battery: bug fix
  plugins/available/battery.plugin.bash
Due: dot-bash

lib/colors: revert #99
  clean_files.txt
  lib/colors.bash
  test/lib/helpers.bats
Due: dot-bash

lib/colors: rename `theme/colors`
  bash_it.sh
  lib/colors.bash
  test/lib/log.bats
  test/plugins/base.plugin.bats
  test/test_helper_libs.bash
  test/themes/base.theme.bats
Due: dot-sh, dot-bash

plugin/colors: revert #699
  plugins/available/colors.plugin.bash
Due: dot-bash

plugin/colors: rename `theme/colors`
  plugins/available/colors.plugin.bash
Due: dot-bash

plugin/colors: `shfmt`
  clean_files.txt
  plugins/available/colors.plugin.bash
Due: dot-bash

lib/search: code cleanup
  lib/search.bash
  test/lib/search.bats
Due: dot-bash

lib/search: code style cleanup
  lib/search.bash
Due: dot-bash

lib/search: fix `_bash-it-flash-term()`
  lib/search.bash
Due: dot-bash

lib/search: fix usage statement `_bash-it-search()`
  lib/search.bash
Due: dot-bash

lib/search: `shellcheck`
  lib/search.bash
  test/lib/search.bats
Due: dot-bash

lib/search: `shfmt`
  clean_files.txt
  lib/search.bash
Due: dot-bash

lib/reloader: unset "${!_bash_it_reloader_@}"
  scripts/reloader.bash
Due: dot-bash

plugin/battery: use `--max-count` of `grep` instead of `head`
  plugins/available/battery.plugin.bash
Due: dot-bash

completion/alias: rename
  completion/available/aliases.completion.bash
  profiles/default.bash_it
  test/completion/aliases.completion.bats
Due: dot-bash

completion/alias: add stub file
  plugins/available/alias-completion.plugin.bash
Due: dot-bash

completion/alias: fix tests
  test/completion/aliases.completion.bats
  test/fixtures/bash_it/profiles/test-bad-component.bash_it
  test/fixtures/bash_it/profiles/test-bad-type.bash_it
  test/install/install.bats
  test/lib/helpers.bats
Due: none

completion/alias: eliminate use of `eval`
  plugins/available/alias-completion.plugin.bash
Due: dot-bash

completion/alias: `shfmt` && `shellcheck`
  plugins/available/alias-completion.plugin.bash
Due: dot-bash

helpers: fix `awk: unterminated regexp`
  lib/helpers.bash
Due: dot-bash

test/battery: add multiple-battery edge case
  test/plugins/battery.plugin.bats
Due: none

plugin/battery: split `upower` to two variables
  plugins/available/battery.plugin.bash
Due: dot-bash

test/battery: require matching battery identifier
  test/plugins/battery.plugin.bats
Due: none

completion/aliases: rename init function
  completion/available/aliases.completion.bash
Due: dot-bash

Refresh bug report: - use issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Refresh feature request: - use issue forms
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Add config for issue forms
  .github/ISSUE_TEMPLATE/config.yml
Due: none

main: Glob for *.bash properly when path contains spaces
  bash_it.sh
Due: dot-sh

main: adopt `_bash-it-log-prefix-by-path()`
  bash_it.sh
Due: dot-sh

Structure yarn aliases: - use new naming convention - preserve old aliases for compatibility
  aliases/available/yarn.aliases.bash
Due: dot-bash

Add echo aliases
  aliases/available/echo.aliases.bash
Due: dot-bash

Add printf aliases
  aliases/available/printf.aliases.bash
Due: dot-bash

completion/system: correctly load version when not linked
  completion/available/system.completion.bash
Due: dot-bash

theme/gitline: cleanup
  clean_files.txt
  themes/gitline/gitline.theme.bash
Due: dot-bash
