Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
# fail_fast: true
minimum_pre_commit_version: 1.18.1
exclude: "docs/_build/"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
        exclude: ".(md|rst)$"
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-added-large-files
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.4
    hooks:
      - id: git-check  # Configure in .gitattributes
      - id: shellcheck
        exclude: ".bats$"
      - id: shfmt
        exclude: ".bats$"
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      # - id: forbid-crlf
      - id: remove-crlf
        exclude: ".bat$"
  - repo: local
    hooks:
      - id: dot-sh
        name: Check .sh files against bash-it requirements
        entry: ./hooks/dot-sh.sh
        language: system
        files: "\\.sh$"
        types: [file]
      - id: dot-bash
        name: Check .bash files against bash-it requirements
        exclude: "test/test_helper.bash"
        entry: ./hooks/dot-bash.sh
        language: system
        files: "\\.bash$"
        types: [file]

Allow for longer command min duration (#2198)
  lib/command_duration.bash
Due: dot-bash

Fix lint errors in multiple files (#2192)
  install.sh
  plugins/available/colors.plugin.bash
  themes/agnoster/agnoster.theme.bash
Due: dot-sh, dot-bash

Implement yarn completion (#2190)
  clean_files.txt
  completion/available/yarn.completion.bash
  vendor/github.com/dsifford/yarn-completion/yarn
Due: dot-bash

premier update stack trace
  aliases/available/ag.aliases.bash
  aliases/available/apt.aliases.bash
  aliases/available/curl.aliases.bash
  aliases/available/docker.aliases.bash
  aliases/available/fuck.aliases.bash
  aliases/available/general.aliases.bash
  aliases/available/git.aliases.bash
  aliases/available/kubectl.aliases.bash
  aliases/available/osx.aliases.bash
  aliases/available/uuidgen.aliases.bash
  aliases/available/vim.aliases.bash
Due: dot-bash

update bug
  lib/utilities.bash
Due: dot-bash

attempt to be more efficient when checking for brew-managed NVM install
  plugins/available/nvm.plugin.bash
Due: dot-bash

Fix loading of nvm for brew-installed nvm
  plugins/available/nvm.plugin.bash
Due: dot-bash

reuse variable instead of invoking brew again
  plugins/available/nvm.plugin.bash
Due: dot-bash

fix: lint :green_heart:
  .github/workflows/ci.yml
Due: none

update on alias ( minor )
  aliases/available/apt.aliases.bash
  aliases/available/curl.aliases.bash
  aliases/available/emacs.aliases.bash
  aliases/available/git.aliases.bash
  aliases/available/kubectl.aliases.bash
  aliases/available/textmate.aliases.bash
  aliases/available/uuidgen.aliases.bash
Due: dot-bash

update go line
  .github/workflows/ci.yml
Due: none

update go vertion
  .github/workflows/ci.yml
Due: none

lint update for var protection structure
  aliases/available/apt.aliases.bash
  aliases/available/curl.aliases.bash
Due: dot-bash

linter conrrection add duble quotes
  aliases/available/apt.aliases.bash
  aliases/available/curl.aliases.bash
Due: dot-bash

Create happyTerminal.theme.bash
  themes/HappyTerminal/happyTerminal.theme.bash
Due: dot-bash

rename HappyFolder name to happyFolder
  themes/happyTerminal/happyTerminal.theme.bash
Due: dot-bash

docs: Update Bash libraries links
  docs/contributing.rst
Due: none

fix: bumps go version to 1.21.0 and changes go get to go install
  .github/workflows/ci.yml
Due: none

docs: Update Bats libraries links (#2225)
  docs/contributing.rst
Due: none

ci: Update GitHub actions
  .github/workflows/ci.yml
Due: none

ci: Update GitHub actions v2 => v4 (#2224)
  .github/workflows/ci.yml
Due: none

add git restore alias
  aliases/available/git.aliases.bash
Due: dot-bash

add tmux kill session and detach aliases
  aliases/available/tmux.aliases.bash
Due: dot-bash

Add git alias `gshn` (`git show --name-only`)
  aliases/available/git.aliases.bash
Due: dot-bash

Add more aliases for `git merge` and `git rebase`
  aliases/available/git.aliases.bash
Due: dot-bash

Add alias for `git reset --hard` and `grh` like OMZ
  aliases/available/git.aliases.bash
Due: dot-bash

Fix duplicate declaration of `grm`, update `grb<*>`
  aliases/available/git.aliases.bash
Due: dot-bash

Short aliases for `git commit --amend` (bang)
  aliases/available/git.aliases.bash
Due: dot-bash

Add alias for `git pull --prune`
  aliases/available/git.aliases.bash
Due: dot-bash

Clean `aliases.completion.bash`
  clean_files.txt
  completion/available/aliases.completion.bash
Due: dot-bash

Clean `clean.theme.bash`
  clean_files.txt
  themes/clean/clean.theme.bash
Due: dot-bash

Clean `elixr.theme.bash`
  clean_files.txt
  themes/elixr/elixr.theme.bash
Due: dot-bash

Tweaks to clean files scripts and file list
  clean_files.txt
  lint_clean_files.sh
Due: dot-sh
