Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
# fail_fast: true
minimum_pre_commit_version: 1.18.1
exclude: "docs/_build/"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
        exclude: ".(md|rst)$"
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-added-large-files
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.4
    hooks:
      - id: git-check  # Configure in .gitattributes
      - id: shellcheck
        exclude: ".bats$"
      - id: shfmt
        exclude: ".bats$"
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      # - id: forbid-crlf
      - id: remove-crlf
        exclude: ".bat$"
  - repo: local
    hooks:
      - id: dot-sh
        name: Check .sh files against bash-it requirements
        entry: ./hooks/dot-sh.sh
        language: system
        files: "\\.sh$"
        types: [file]
      - id: dot-bash
        name: Check .bash files against bash-it requirements
        exclude: "test/test_helper.bash"
        entry: ./hooks/dot-bash.sh
        language: system
        files: "\\.bash$"
        types: [file]

shfmt do not like spaces
  lib/command_duration.bash
Due: dot-bash

Complete rework
  themes/barbuk/barbuk.theme.bash
Due: dot-bash

Update documentation
  docs/themes-list/barbuk.rst
Due: none

Fix dynamic clock icon (#2120)
  lib/command_duration.bash
Due: dot-bash

shfmt needs more spaces
  themes/barbuk/barbuk.theme.bash
Due: dot-bash

Fix grep path when a grep alias exists
  lib/utilities.bash
Due: dot-bash

feature (completion): add nestjs completion with conditions
  completion/available/nest.completion.bash
Due: dot-bash

improve (lint): add nest.completion.bash entry
  clean_files.txt
Due: none

improve (completion): add conditions to dart cli completion and implement missing ones
  completion/available/dart.completion.bash
Due: dot-bash

fix (lint_clean_files): xargs conflict warning
  lint_clean_files.sh
Due: dot-sh

improve (lint): add awscli.completion.bash in clean_files.txt
  clean_files.txt
Due: none

fix (completion): format awscli
  completion/available/awscli.completion.bash
Due: dot-bash

general: Add default nano editor for the edit alias
  aliases/available/general.aliases.bash
Due: dot-bash

fix (completion): remove file dependencies and add more completion for options
  completion/available/capistrano.completion.bash
Due: dot-bash

improve (lint): add completion/available/capistrano.completion.bash entry
  clean_files.txt
Due: none

improve (lint): add completion/available/export.completion.bash entry
  clean_files.txt
Due: none

fix (completion): SC2016 in export.completion.bash
  completion/available/export.completion.bash
Due: dot-bash

improve (lint): add completion/available/grunt.completion.bash entry
  clean_files.txt
Due: none

improve (completion): simplify grunt completion using built in
  completion/available/grunt.completion.bash
Due: dot-bash

improve (lint): add completion/available/gulp.completion.bash entry
  clean_files.txt
Due: none

improve (completion): simplify gulp completion using built in
  completion/available/gulp.completion.bash
Due: dot-bash

Remove duplicates
  aliases/available/yarn.aliases.bash
Due: dot-bash

Define aliases just when yarn is installed
  aliases/available/yarn.aliases.bash
Due: dot-bash

Enhance code style
  aliases/available/yarn.aliases.bash
Due: dot-bash

fix projects plugin regression
  plugins/available/projects.plugin.bash
Due: dot-bash

fix (helpers): bashit_update function return to source path and --no-merges in log
  lib/helpers.bash
Due: dot-bash

Update .gitmodules
  .gitmodules
Due: none

Fix node and ruby colors
  themes/powerline-multiline/powerline-multiline.theme.bash
Due: dot-bash

feat: support plain old node as strategy to get node version
  themes/base.theme.bash
  themes/powerline-multiline/powerline-multiline.theme.bash
  themes/powerline-naked/powerline-naked.theme.bash
  themes/powerline-plain/powerline-plain.theme.bash
  themes/powerline/powerline.theme.bash
Due: dot-bash

chore: update docs
  docs/themes-list/powerline-base.rst
Due: none

fix (docs): id and link of the header element
  docs/troubleshooting.rst
Due: none

fix (docs): add troubleshooting for pre-commit error #1696
  docs/troubleshooting.rst
Due: none

fix (docs): trailing ^ in troubleshooting.rst
  docs/troubleshooting.rst
Due: none

improve (lint): add completion/available/flutter.completion.bash entry
  clean_files.txt
Due: none

fix (completion): shfmt format flutter.completion.bash
  completion/available/flutter.completion.bash
Due: dot-bash

improve (docs): exclude venv pattern in build
  docs/conf.py
Due: none

fix (docs): ugraded sphinx version
  docs/requirements.txt
Due: none

Added update-bash section in README
  docs/README.md
Due: none

plugin(dirs): Create backup file parent directory
  plugins/available/dirs.plugin.bash
Due: dot-bash

fix: SC1091 in apm completions
  completion/available/apm.completion.bash
Due: dot-bash
