Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
# fail_fast: true
minimum_pre_commit_version: 1.18.1
exclude: "docs/_build/"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
        exclude: ".(md|rst)$"
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-added-large-files
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.4
    hooks:
      - id: git-check  # Configure in .gitattributes
      - id: shellcheck
        exclude: ".bats$"
      - id: shfmt
        exclude: ".bats$"
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      # - id: forbid-crlf
      - id: remove-crlf
        exclude: ".bat$"
  - repo: local
    hooks:
      - id: dot-sh
        name: Check .sh files against bash-it requirements
        entry: ./hooks/dot-sh.sh
        language: system
        files: "\\.sh$"
        types: [file]
      - id: dot-bash
        name: Check .bash files against bash-it requirements
        exclude: "test/test_helper.bash"
        entry: ./hooks/dot-bash.sh
        language: system
        files: "\\.bash$"
        types: [file]

aliases/general: cleanup
  aliases/available/general.aliases.bash
  profiles/default.bash_it
Due: dot-bash

aliases/general: move `xt` to `plugin/extract`
  aliases/available/general.aliases.bash
  plugins/available/extract.plugin.bash
Due: dot-bash

aliases/directory: split out directory shortcuts
  aliases/available/directory.aliases.bash
  aliases/available/general.aliases.bash
  profiles/default.bash_it
Due: dot-bash

lib/command_duration: remove temporary files
  themes/command_duration.theme.bash
Due: dot-bash

lib/command_duration: dynamic clock hand
  themes/command_duration.theme.bash
Due: dot-bash

lib/command_duration: adopt `_bash_it_library_finalize_hook`
  lib/command_duration.bash
Due: dot-bash

lib/command_duration: Refactor using `$EPOCHREALTIME`
  themes/command_duration.theme.bash
Due: dot-bash

lib/command_duration: rename `theme/command_duration.theme`
  bash_it.sh
  clean_files.txt
  lib/command_duration.bash
  test/plugins/cmd-returned-notify.plugin.bats
Due: dot-sh, dot-bash

plugin/cmd-returned-notify: Rewrite to match/use `lib/command_duration`
  plugins/available/cmd-returned-notify.plugin.bash
  test/plugins/cmd-returned-notify.plugin.bats
Due: dot-bash

lib/command_duration: tests & whitespace
  test/plugins/cmd-returned-notify.plugin.bats
  test/test_helper.bash
Due: none

uninstall: //echo/printf
  uninstall.sh
Due: dot-sh

install: cleanup
  install.sh
  template/bashrc.template.bash
Due: dot-sh, dot-bash

install: `_bash-it-install-modify-profile()`
  install.sh
Due: dot-sh

template: `shfmt`
  clean_files.txt
  template/bashrc.template.bash
Due: dot-bash

uninstall: try to determine initialization file
  test/install/uninstall.bats
  uninstall.sh
Due: dot-sh

template: `shellcheck`
  template/bashrc.template.bash
  test/install/install.bats
Due: dot-bash

uninstall: cleanup
  clean_files.txt
  uninstall.sh
Due: dot-sh

docs: fix references to `~/.bashrc`
  docs/installation.rst
  docs/themes-list/atomic.rst
  docs/themes-list/powerline-base.rst
  docs/themes-list/powerline-multiline.rst
  docs/vcs_user.rst
Due: none

install: use `.bashrc` and notify user
  install.sh
  test/install/install.bats
Due: dot-sh

lint: add lib to clean_files.txt
  clean_files.txt
Due: none

Revert "bash_it: source reloader.bash without arguments for the default enabling"
  bash_it.sh
Due: dot-sh

template: remove `$SHORT_HOSTNAME`
  template/bashrc.template.bash
Due: dot-bash

make aliases load very late
  lib/helpers.bash
  test/bash_it/bash_it.bats
  test/completion/bash-it.completion.bats
  test/install/install.bats
  test/lib/helpers.bats
  test/lib/utilities.bats
Due: dot-bash

lib: delete `appearance.bash`
  bash_it.sh
  lib/appearance.bash
Due: dot-sh, dot-bash

plugins/xterm: not just Xterm
  plugins/available/xterm.plugin.bash
Due: dot-bash

plugins/go: simplify _bash-it-gopath-pathmunge()
  plugins/available/go.plugin.bash
  test/plugins/go.plugin.bats
Due: dot-bash

completion/grunt: shellcheck
  completion/available/grunt.completion.bash
Due: dot-bash

aliases/general: minor fixes
  aliases/available/general.aliases.bash
Due: dot-bash

lib/battery: rename `plugin/battery`
  lib/battery.bash
  test/lib/battery.bats
  themes/base.theme.bash
  themes/demula/demula.theme.bash
  themes/rana/rana.theme.bash
Due: dot-bash

plugin/ble.sh
  plugins/available/blesh.plugin.bash
Due: dot-bash

pathmunge tests
  plugins/available/go.plugin.bash
  plugins/available/ruby.plugin.bash
Due: dot-bash

test/theme: `shellcheck`
  test/themes/base.theme.bats
  test/themes/base.theme.git.bats
  test/themes/base.theme.svn.bats
Due: none

test/lib: `shellcheck`
  test/lib/helpers.bats
  test/lib/log.bats
  test/lib/preexec.bats
  test/lib/search.bats
Due: none

test/completion: `shellcheck`
  test/completion/aliases.completion.bats
  test/completion/bash-it.completion.bats
Due: none

test/bash_it: `shellcheck`
  test/bash_it/bash_it.bats
Due: none

BATS: require `shellcheck` on test files
  .gitattributes
  .pre-commit-config.yaml
  hooks/dot-bash.sh
Due: dot-sh

test/plugin: `shellcheck`
  test/plugins/base.plugin.bats
  test/plugins/cmd-returned-notify.plugin.bats
  test/plugins/go.plugin.bats
  test/plugins/ruby.plugin.bats
  test/plugins/xterm.plugin.bats
Due: none

test/install: `shellcheck`
  test/install/install.bats
  test/install/uninstall.bats
Due: none

test_helper: make lib loading default
  test/test_helper.bash
Due: none

tests: add to `clean_files.txt`
  clean_files.txt
  test/fixtures/bash_it/aliases/available/a.aliases.bash
  test/fixtures/bash_it/aliases/available/b.aliases.bash
  test/fixtures/bash_it/plugins/available/c.plugin.bash
Due: dot-bash
