Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash, clean-files-txt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
# fail_fast: true
minimum_pre_commit_version: 1.18.1
exclude: "docs/_build/"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
        exclude: ".(md|rst)$"
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-added-large-files
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: git-check  # Configure in .gitattributes
      - id: shellcheck
        exclude: ".bats$"
      - id: shfmt
        exclude: ".bats$"
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      # - id: forbid-crlf
      - id: remove-crlf
        exclude: ".bat$"
  - repo: local
    hooks:
      - id: dot-sh
        name: Check .sh files against bash-it requirements
        entry: ./hooks/dot-sh.sh
        language: system
        files: "\\.sh$"
        types: [file]
      - id: dot-bash
        name: Check .bash files against bash-it requirements
        exclude: "test/test_helper.bash"
        entry: ./hooks/dot-bash.sh
        language: system
        files: "\\.bash$"
        types: [file]
      - id: clean-files-txt
        name: Check that clean_files.txt is sorted alphabetically.
        entry: ./hooks/check-clean-files-txt.sh
        language: system
        files: clean_files.txt

Cleanup typo in postgres plugin
  plugins/available/postgres.plugin.bash
Due: dot-bash

Cleanup pack plugin
  clean_files.txt
  plugins/available/pack.plugin.bash
Due: dot-bash, clean-files-txt

Cleanup jenv plugin
  clean_files.txt
  plugins/available/jenv.plugin.bash
Due: dot-bash, clean-files-txt

Cleanup javascript plugin
  clean_files.txt
  plugins/available/javascript.plugin.bash
Due: dot-bash, clean-files-txt

Cleanup hg plugin
  clean_files.txt
  plugins/available/hg.plugin.bash
Due: dot-bash, clean-files-txt

Cleanup gitstatus plugin
  clean_files.txt
  plugins/available/gitstatus.plugin.bash
Due: dot-bash, clean-files-txt

Cleanup fzf plugin
  clean_files.txt
  plugins/available/fzf.plugin.bash
Due: dot-bash, clean-files-txt

Cleanup fasd plugin
  plugins/available/fasd.plugin.bash
Due: dot-bash

whitespace fixes on the tests themselves...
  vendor/github.com/rcaloras/bash-preexec/test/bash-preexec.bats
  vendor/github.com/rcaloras/bash-preexec/test/include-test.bats
Due: none

Cleanup typo in pack plugin
  plugins/available/pack.plugin.bash
Due: dot-bash

bats are batty, make shellcheck happy.
  .pre-commit-config.yaml
  vendor/github.com/rcaloras/bash-preexec/test/bash-preexec.bats
Due: none

ok, maybe check less things
  .pre-commit-config.yaml
Due: none

Last few nags under /vendor/
  .pre-commit-config.yaml
  vendor/github.com/rcaloras/bash-preexec/test/include-test.bats
Due: none

clean up gitstatus plugin
  plugins/available/gitstatus.plugin.bash
Due: dot-bash

re-fixing. thanks to @akinomyoga and his keen eyes...
  .pre-commit-config.yaml
  completion/available/sqlmap.completion.bash
  plugins/available/fzf.plugin.bash
  plugins/available/pack.plugin.bash
  vendor/github.com/rcaloras/bash-preexec/test/include-test.bats
Due: dot-bash

I decided fixing unbroken (and externally sourced) bats files is pointless. I'll just revert.
  vendor/github.com/dsifford/yarn-completion/yarn
  vendor/github.com/erichs/composure/c_extras.sh
  vendor/github.com/erichs/composure/composure.sh
  vendor/github.com/erichs/composure/test/Makefile
  vendor/github.com/erichs/composure/test/runshellcheck.sh
  vendor/github.com/gaelicWizard/bash-progcomp/defaults.completion.bash
  vendor/github.com/rcaloras/bash-preexec/bash-preexec.sh
  vendor/github.com/rcaloras/bash-preexec/test/bash-preexec.bats
  vendor/github.com/rcaloras/bash-preexec/test/include-test.bats
  vendor/github.com/rparree/jboss-bash-completion/README.md
  vendor/github.com/rparree/jboss-bash-completion/jboss5
  vendor/github.com/rparree/jboss-bash-completion/jboss7
  vendor/github.com/vigo/apm-bash-completion/CODE_OF_CONDUCT.md
Due: dot-sh, dot-bash

one last typo, I hope.
  plugins/available/fzf.plugin.bash
Due: dot-bash

return to bash 3 compatibility by getting rid of the mapfile assignments
  completion/available/sdkman.completion.bash
  completion/available/sqlmap.completion.bash
  lint_clean_files.sh
  plugins/available/fzf.plugin.bash
  plugins/available/pack.plugin.bash
Due: dot-sh, dot-bash

all the cases of using a local $line should be marked local
  completion/available/sdkman.completion.bash
Due: dot-bash

localize all places where $line is used
  completion/available/sqlmap.completion.bash
  plugins/available/fzf.plugin.bash
  plugins/available/osx-timemachine.plugin.bash
  plugins/available/pack.plugin.bash
Due: dot-bash

Cleanup all remaining plugins
  .pre-commit-config.yaml
  clean_files.txt
  plugins/available/alias-completion.plugin.bash
  plugins/available/autojump.plugin.bash
  plugins/available/aws.plugin.bash
  plugins/available/boot2docker.plugin.bash
  plugins/available/chruby-auto.plugin.bash
  plugins/available/chruby.plugin.bash
  plugins/available/cht-sh.plugin.bash
  plugins/available/docker.plugin.bash
  plugins/available/explain.plugin.bash
  plugins/available/extract.plugin.bash
  plugins/available/jekyll.plugin.bash
  plugins/available/nvm.plugin.bash
  plugins/available/powerline.plugin.bash
  plugins/available/sdkman.plugin.bash
  plugins/available/tmuxinator.plugin.bash
  plugins/available/virtualenv.plugin.bash
Due: dot-bash, clean-files-txt

last details
  plugins/available/edit-mode-emacs.plugin.bash
  plugins/available/edit-mode-vi.plugin.bash
  plugins/available/tmux.plugin.bash
Due: dot-bash

clean up AWS plugin
  clean_files.txt
  plugins/available/aws.plugin.bash
Due: dot-bash, clean-files-txt

fixes following @akinomyoga's remarks.
  plugins/available/docker.plugin.bash
Due: dot-bash

bring to compliance: virtualbox.completion
  clean_files.txt
  completion/available/virtualbox.completion.bash
Due: dot-bash, clean-files-txt

bring to compliance: tmux.completion
  completion/available/tmux.completion.bash
Due: dot-bash

bring to compliance: rake.completion
  completion/available/rake.completion.bash
Due: dot-bash

bring to compliance: projects.completion
  completion/available/projects.completion.bash
Due: dot-bash

bring to compliance: ng.completion
  completion/available/ng.completion.bash
Due: dot-bash

bring to compliance: invoke.completion
  completion/available/invoke.completion.bash
Due: dot-bash

bring to compliance: grunt.completion
  completion/available/grunt.completion.bash
Due: dot-bash

bring to compliance: ssh.completion
  completion/available/ssh.completion.bash
Due: dot-bash

clean up AWS plugin
  plugins/available/aws.plugin.bash
Due: dot-bash

bring to compliance: gulp.completion
  completion/available/gulp.completion.bash
Due: dot-bash

bring to compliance: test_kitchen.completion
  completion/available/test_kitchen.completion.bash
  hooks/check-clean-files-txt.sh
Due: dot-sh, dot-bash

bring to compliance: kind.completion
  completion/available/kind.completion.bash
Due: dot-bash

bring to compliance: git_flow_avh.completion
  completion/available/git_flow_avh.completion.bash
Due: dot-bash

bring to compliance: terraform.completion
  completion/available/terraform.completion.bash
Due: dot-bash

bring to compliance: git_flow.completion
  completion/available/git_flow.completion.bash
Due: dot-bash

bring to compliance: nvm.completion
  completion/available/nvm.completion.bash
Due: dot-bash
