Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
# fail_fast: true
minimum_pre_commit_version: 1.18.1
exclude: "docs/_build/"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
        exclude: ".(md|rst)$"
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-added-large-files
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.4
    hooks:
      - id: git-check  # Configure in .gitattributes
      - id: shellcheck
        exclude: ".bats$"
      - id: shfmt
        exclude: ".bats$"
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      # - id: forbid-crlf
      - id: remove-crlf
        exclude: ".bat$"
  - repo: local
    hooks:
      - id: dot-sh
        name: Check .sh files against bash-it requirements
        entry: ./hooks/dot-sh.sh
        language: system
        files: "\\.sh$"
        types: [file]
      - id: dot-bash
        name: Check .bash files against bash-it requirements
        exclude: "test/test_helper.bash"
        entry: ./hooks/dot-bash.sh
        language: system
        files: "\\.bash$"
        types: [file]

Update aliases/available/systemd.aliases.bash
  aliases/available/systemd.aliases.bash
Due: dot-bash

Improved systemd aliases
  aliases/available/systemd.aliases.bash
Due: dot-bash

fix alias quotes
  aliases/available/git.aliases.bash
Due: dot-bash

Add files via upload
  easy-black.jpg
  easy-white.jpg
Due: none

Delete easy-black.jpg
  easy-black.jpg
Due: none

Delete easy-white.jpg
  easy-white.jpg
Due: none

Add files via upload
  docs/images/easy-black.jpg
  docs/images/easy-white.jpg
Due: none

alias (improvement): continue rebase after conflict resolve
  aliases/available/git.aliases.bash
Due: dot-bash

add alias nt="npm test"
  aliases/available/npm.aliases.bash
Due: dot-bash

added python's virtualenv name
  themes/purity/purity.theme.bash
Due: dot-bash

Add to prompt google gcloud active account
  docs/themes-list/powerline-base.rst
  themes/base.theme.bash
  themes/powerline-multiline/powerline-multiline.theme.bash
  themes/powerline-naked/powerline-naked.theme.bash
  themes/powerline-plain/powerline-plain.theme.bash
  themes/powerline/powerline.base.bash
  themes/powerline/powerline.theme.bash
Due: dot-bash

fix typo
  themes/base.theme.bash
Due: dot-bash

improved PS1, function rename
  themes/purity/purity.theme.bash
Due: dot-bash

minor change
  themes/purity/purity.theme.bash
Due: dot-bash

helpers: Fix broken compoure references after vendor change
  lib/helpers.bash
Due: dot-bash

test: Add bash-it help plugins test
  test/lib/helpers.bats
Due: none

Update extract.plugin.bash, support to extract zip to target directory
  plugins/available/extract.plugin.bash
Due: dot-bash

Update extract.plugin.bash
  plugins/available/extract.plugin.bash
Due: dot-bash

cleaned and linted purity theme
  clean_files.txt
  themes/purity/purity.theme.bash
Due: dot-bash

completion (feature): dart cli
  clean_files.txt
  completion/available/dart.completion.bash
Due: dot-bash

dart completion (improvement): requested by @NoahGorny
  completion/available/dart.completion.bash
Due: dot-bash

Fix spelling mistake
  aliases/available/terraform.aliases.bash
Due: dot-bash

completion (feature): dmidecode
  completion/available/dmidecode.completion.bash
Due: dot-bash

completion (improvement): dmidecode lint fixed
  clean_files.txt
  completion/available/dmidecode.completion.bash
Due: dot-bash

Add theme Easy
  clean_files.txt
  docs/themes-list/easy.rst
  themes/easy/easy.theme.bash
Due: dot-bash

docs: Add easy theme to themes image list
  docs/themes-list/index.rst
Due: none

completion (improvement): remove if statement
  completion/available/ngrok.completion.bash
Due: dot-bash

completion (improvement): fixed linting
  clean_files.txt
  completion/available/ngrok.completion.bash
Due: dot-bash

completion (feature): implemented ngrok
  completion/available/ngrok.completion.bash
Due: dot-bash

completion: ngrok: Add --help option
  completion/available/ngrok.completion.bash
Due: dot-bash

completion: ngrok: Only complete the list in case prev is ngrok
  completion/available/ngrok.completion.bash
Due: dot-bash

install: Dont quote number vars, to support older bash versions
  install.sh
Due: dot-sh

add --no-start to up command
  aliases/available/docker-compose.aliases.bash
Due: dot-bash

fix error
  themes/base.theme.bash
Due: dot-bash

docs: Add logo of bash-it to readme
  docs/README.md
Due: none

docs: Add nice badges to readme
  docs/README.md
Due: none

docs: Improve readme readability
  docs/README.md
Due: none

Add 2021 to license
  LICENSE
Due: none

Adding support for BASH_IT_COLORSCHEME variable + colorschemes
  README.md
  colorschemes/dark.colorscheme.bash
  colorschemes/light.colorscheme.bash
  images/dark-colorscheme.png
  images/light-colorscheme.png
  themes/base.theme.bash
  themes/powerline-multiline/powerline-multiline.theme.bash
Due: dot-bash

Adding shortening of CWD and Golang
  colorschemes/dark.colorscheme.bash
  colorschemes/light.colorscheme.bash
  themes/base.theme.bash
  themes/powerline-multiline/powerline-multiline.base.bash
  themes/powerline-multiline/powerline-multiline.theme.bash
  themes/powerline/powerline.base.bash
  themes/powerline/powerline.helpers.bash
  themes/powerline/powerline.theme.bash
Due: dot-bash
