Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash, clean-files-txt

dot-sh:
  name: Check .sh files against bash-it requirements
  entry: ./hooks/dot-sh.sh
  language: system

dot-bash:
  name: Check .bash files against bash-it requirements
  entry: ./hooks/dot-bash.sh
  language: system

clean-files-txt:
  name: Check that clean_files.txt is sorted alphabetically.
  entry: ./hooks/check-clean-files-txt.sh
  language: system

template: `shfmt`
  clean_files.txt
  template/bashrc.template.bash
Due: dot-bash, clean-files-txt

template: `shellcheck`
  template/bashrc.template.bash
  test/install/install.bats
Due: dot-bash

lib: delete `appearance.bash`
  bash_it.sh
  lib/appearance.bash
Due: dot-sh, dot-bash

make aliases load very late
  lib/helpers.bash
  test/bash_it/bash_it.bats
  test/completion/bash-it.completion.bats
  test/install/install.bats
  test/install/uninstall.bats
  test/lib/helpers.bats
  test/lib/utilities.bats
Due: dot-bash

pathmunge tests
  plugins/available/go.plugin.bash
  plugins/available/ruby.plugin.bash
Due: dot-bash

template: remove `$SHORT_HOSTNAME`
  template/bashrc.template.bash
Due: dot-bash

plugins/go: simplify _bash-it-gopath-pathmunge()
  plugins/available/go.plugin.bash
  test/install/install.bats
  test/plugins/go.plugin.bats
Due: dot-bash

aliases/general: minor fixes
  aliases/available/general.aliases.bash
Due: dot-bash

plugins/xterm: not just Xterm
  plugins/available/xterm.plugin.bash
Due: dot-bash

lib/battery: rename `plugin/battery`
  lib/battery.bash
  test/lib/battery.bats
  themes/base.theme.bash
  themes/demula/demula.theme.bash
  themes/rana/rana.theme.bash
Due: dot-bash

plugin/ble.sh
  plugins/available/blesh.plugin.bash
Due: dot-bash

shfmt had a word or two
  test/plugins/go.plugin.bats
Due: none

battery moved to lib, so should the refering code.
  docs/themes-list/powerline-base.rst
  test/lib/battery.bats
  test/themes/base.theme.bats
Due: none

shellcheck
  test/bash_it/bash_it.bats
Due: none

caught by github sec scanner
  test/install/uninstall.bats
Due: none

seems this is how bats prefer it to be run
  test/bash_it/bash_it.bats
Due: none

Add gemfile files for bashcov
  Gemfile
  Gemfile.lock
Due: none

ci: Fix codecov stage
  .github/workflows/ci.yml
Due: none

tests: Fix tests after libs update
  test/lib/helpers.bats
  test/plugins/base.plugin.bats
Due: none

install.sh: Handle unbound variables
  install.sh
Due: dot-sh

upgrading the bats
  .gitmodules
Due: none

lock test platform version
  .github/workflows/ci.yml
Due: none

lock test platform versions
  .github/workflows/ci.yml
Due: none

remove requirements restrictions because we like to go commando.
  docs/requirements.txt
Due: none

readonly HIST* variables is a bit extreme and clashes with ble.sh and other tools.
  plugins/available/history-eternal.plugin.bash
Due: dot-bash

only the correct FZF integration loads, sepending on whether the blesh plugin is enabled as well.
  plugins/available/blesh.plugin.bash
  plugins/available/fzf.plugin.bash
Due: dot-bash

important syntax correction from the owenr of ble.sh
  plugins/available/blesh.plugin.bash
Due: dot-bash

Update plugins/available/extract.plugin.bash
  plugins/available/extract.plugin.bash
Due: dot-bash

Fix bad merge
  themes/barbuk/barbuk.theme.bash
Due: dot-bash

Fix a couple bugs introduced by last commit
  themes/powerline-multiline/powerline-multiline.base.bash
Due: dot-bash

Update powerline-multiline.base.bash
  themes/powerline-multiline/powerline-multiline.base.bash
Due: dot-bash

Create linux-app-installer.sh
  linux-app-installer.sh
Due: dot-sh

Clean themes A-L
  clean_files.txt
  themes/agnoster/agnoster.theme.bash
  themes/demula/demula.theme.bash
  themes/dos/dos.theme.bash
  themes/emperor/emperor.theme.bash
  themes/envy/envy.theme.bash
  themes/font/font.theme.bash
  themes/gallifrey/gallifrey.theme.bash
  themes/hawaii50/hawaii50.theme.bash
  themes/iterate/iterate.theme.bash
  themes/kitsune/kitsune.theme.bash
  themes/luan/luan.theme.bash
Due: dot-bash, clean-files-txt

Add `.git-blame-ignore-revs`
  .git-blame-ignore-revs
Due: none

Add heuristic for finding default remote name
  lib/helpers.bash
Due: dot-bash

Apply fixes
  themes/agnoster/agnoster.theme.bash
  themes/demula/demula.theme.bash
  themes/font/font.theme.bash
  themes/hawaii50/hawaii50.theme.bash
  themes/iterate/iterate.theme.bash
  themes/luan/luan.theme.bash
Due: dot-bash

rename todo aliases file to avoid activation failure
  aliases/available/todo.aliases.bash
Due: dot-bash

fix test
  test/lib/helpers.bats
Due: none

rename todo.txt-cli occurances in test files
  test/completion/bash-it.completion.bats
  test/lib/helpers.bats
Due: none

Path conditions:
  dot-sh: any of: \.sh$, but not: docs/_build/
  dot-bash: any of: \.bash$, but not: docs/_build/
  clean-files-txt: any of: clean_files.txt, but not: docs/_build/
