Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

dot-sh:
  name: Check .sh files against bash-it requirements
  entry: ./hooks/dot-sh.sh
  language: system

dot-bash:
  name: Check .bash files against bash-it requirements
  entry: ./hooks/dot-bash.sh
  language: system

Avoid loops when loading libraries
  bash_it.sh
Due: dot-sh

Ensure goenv and go play together well
  clean_files.txt
  plugins/available/go.plugin.bash
  plugins/available/goenv.plugin.bash
  test/plugins/go.plugin.bats
Due: dot-bash

Squashed 'vendor/github.com/erichs/composure/' changes from 5c3698d..55fdb9f
  LICENSE
  README.md
  composure.plugin.zsh
  composure.sh
Due: dot-sh

install: Move backup check into a separate function
  install.sh
Due: dot-sh

install: Add --overwrite-backup flag
  install.sh
Due: dot-sh

install: Move modify config check into separate function
  install.sh
Due: dot-sh

added completion for notify-send command
  clean_files.txt
  completion/available/notify-send.completion.bash
Due: dot-bash

completion: composer: Remove uneeded local "scripts" var
  completion/available/composer.completion.bash
Due: dot-bash

formatted composer completion and used helper function
  clean_files.txt
  completion/available/composer.completion.bash
Due: dot-bash

completion: composer: Add shellcheck directives
  completion/available/composer.completion.bash
Due: dot-bash

credit given to original author
  plugins/available/git.plugin.bash
Due: dot-bash

added plugin to create git changelog and formatted code
  plugins/available/git.plugin.bash
Due: dot-bash

fixed git-changelog plugin
  clean_files.txt
  plugins/available/git.plugin.bash
Due: dot-bash

fixed linting for `plugins/available/git.plugin.bash` file
  plugins/available/git.plugin.bash
Due: dot-bash

plugins: git: Fix git_stats
  plugins/available/git.plugin.bash
Due: dot-bash

install: Move to double brackets in check_for-backup check
  install.sh
Due: dot-sh

install: Add bash-it prefix to all functions
  install.sh
Due: dot-sh

completion: composer: Rename _composer->__composer_completion
  completion/available/composer.completion.bash
Due: dot-bash

ensure go completion works well with goenv
  clean_files.txt
  completion/available/go.completion.bash
Due: dot-bash

docs: Add license notice to readme
  docs/README.md
Due: none

docs: Add newline in readme and index.rst
  docs/README.md
  docs/index.rst
Due: none

Squashed 'vendor/github.com/vigo/apm-bash-completion/' content from commit d44593c
  CODE_OF_CONDUCT.md
  LICENSE
  README.md
  apm
Due: none

Added vendored apm completion
  clean_files.txt
  completion/available/apm.completion.bash
Due: dot-bash

Squashed 'vendor/github.com/django/django/' content from commit 32bb1421
  AUTHORS
  LICENSE
  LICENSE.python
  extras/Makefile
  extras/README.TXT
  extras/django_bash_completion
Due: none

Vendored django completion
  clean_files.txt
  completion/available/django.completion.bash
Due: dot-bash

Squashed 'vendor/github.com/rparree/jboss-bash-completion/' content from commit fc87d94
  LICENSE
  README.md
  jboss5
  jboss7
Due: none

completion: Use vendored jboss completion
  clean_files.txt
  completion/available/jboss5.completion.bash
  completion/available/jboss7.completion.bash
Due: dot-bash

Remove deprecated kubectl run --generator
  aliases/available/kubectl.aliases.bash
Due: dot-bash

Tweak logic & slightly optimize git usage
  themes/base.theme.bash
Due: dot-bash

Remove redundant use of tail(1)
  themes/base.theme.bash
Due: dot-bash

Use BASH instead of tr(1) & wc(1)
  themes/base.theme.bash
Due: dot-bash

Use BASH instead of grep(1)
  themes/base.theme.bash
Due: dot-bash

Use BASH to get Ruby version, not AWK
  themes/base.theme.bash
Due: dot-bash

Use BASH instead of AWK for Python version
  themes/base.theme.bash
Due: dot-bash

Use BASH instead of sed(1) for user.initials
  themes/base.theme.bash
Due: dot-bash

Undo my change to git command usage (the test)
  themes/base.theme.bash
Due: dot-bash

Slightly tweak logic (minor; superficial)
  themes/base.theme.bash
Due: dot-bash

Update aliases/available/systemd.aliases.bash
  aliases/available/systemd.aliases.bash
Due: dot-bash

Path conditions:
  dot-sh: any of: \.sh$, but not: docs/_build/
  dot-bash: any of: \.bash$ and not (test/test_helper.bash) and not (docs/_build/)
