Repository Bash-it/bash-it: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
# fail_fast: true
minimum_pre_commit_version: 1.18.1
exclude: "docs/_build/"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
        exclude: ".(md|rst)$"
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-added-large-files
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.4
    hooks:
      - id: git-check  # Configure in .gitattributes
      - id: shellcheck
        exclude: ".bats$"
      - id: shfmt
        exclude: ".bats$"
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      # - id: forbid-crlf
      - id: remove-crlf
        exclude: ".bat$"
  - repo: local
    hooks:
      - id: dot-sh
        name: Check .sh files against bash-it requirements
        entry: ./hooks/dot-sh.sh
        language: system
        files: "\\.sh$"
        types: [file]
      - id: dot-bash
        name: Check .bash files against bash-it requirements
        exclude: "test/test_helper.bash"
        entry: ./hooks/dot-bash.sh
        language: system
        files: "\\.bash$"
        types: [file]

Fixing colors + sedx
  colorschemes/dark.colorscheme.bash
  colorschemes/light.colorscheme.bash
  themes/powerline/powerline.helpers.bash
Due: dot-bash

MUCH better lighit colorscheme
  colorschemes/light.colorscheme.bash
Due: dot-bash

docs: Add a section about bash-it restart
  docs/commands/reload.rst
Due: none

Clean candy theme
  clean_files.txt
  themes/candy/candy.theme.bash
Due: dot-bash

Place 'theme/clean' alphabetically on clean_files.txt
  clean_files.txt
Due: none

Sort theme section
  clean_files.txt
Due: none

Sort plugins/available
  clean_files.txt
Due: none

Clean alias-completion plugin
  clean_files.txt
  plugins/available/alias-completion.plugin.bash
Due: dot-bash

Fix typo
  clean_files.txt
Due: none

Fix Conflict
  clean_files.txt
Due: none

Fix shellcheck warning. SC1090
  plugins/available/alias-completion.plugin.bash
Due: dot-bash

Change shellcheck source to /dev/null for explicity
  plugins/available/alias-completion.plugin.bash
Due: dot-bash

Disable shellcheck warning SC2162
  plugins/available/alias-completion.plugin.bash
Due: dot-bash

Clean alias completion plugin (#1872)
  clean_files.txt
  plugins/available/alias-completion.plugin.bash
Due: dot-bash

lint: Make clean_files.txt more tidy
  clean_files.txt
Due: none

hooks: Add check-clean-files-txt.sh
  .pre-commit-config.yaml
  hooks/check-clean-files-txt.sh
Due: dot-sh

plugins: alias-completion: Revert back to read without -r
  plugins/available/alias-completion.plugin.bash
Due: dot-bash

lint: Sort clean_files.txt according to check-clean-files-txt.sh
  clean_files.txt
Due: none

hooks: Use compat31 in check-clean-files-txt.sh
  hooks/check-clean-files-txt.sh
Due: dot-sh

Fixing base theme
  themes/base.theme.bash
Due: dot-bash

Various powerlline enhancements and simplification
  colorschemes/colorscheme.sh
  themes/base.theme.bash
  themes/powerline/powerline.base.bash
  themes/powerline/powerline.helpers.bash
Due: dot-sh, dot-bash

WIP: more fixes to the prompts
  themes/powerline/powerline.helpers.bash
Due: dot-bash

WIP — enhancements
  colorschemes/colorscheme.sh
  colorschemes/light.colorscheme.bash
  themes/powerline/powerline.helpers.bash
Due: dot-sh, dot-bash

git: Add git commit --amend --no-edit alias
  aliases/available/git.aliases.bash
Due: dot-bash

[base.theme] add support for hg's bookmarks feature
  themes/base.theme.bash
Due: dot-bash

Skip dirname stderr
  themes/powerline/powerline.base.bash
Due: dot-bash

More themes
  colorschemes/dark.colorscheme.bash
  colorschemes/light.colorscheme.bash
  colorschemes/tango.colorscheme.bash
  themes/powerline/powerline.helpers.bash
Due: dot-bash

Adding Tango
  colorschemes/tango.colorscheme.bash
Due: dot-bash

added nikto tool completion
  clean_files.txt
  completion/available/nikto.completion.bash
Due: dot-bash

added git plugin to restore deleted file
  plugins/available/git.plugin.bash
Due: dot-bash

fixed lint issues
  plugins/available/git.plugin.bash
Due: dot-bash

fixed linting errors
  plugins/available/git.plugin.bash
Due: dot-bash

plugins: Fix alias-completion by using helper util
  plugins/available/alias-completion.plugin.bash
Due: dot-bash

Add pure theme to clean_files.txt
  clean_files.txt
Due: none

themes: Lint pure theme
  themes/pure/pure.theme.bash
Due: dot-bash

themes: base: Add unified scm_prompt function
  themes/base.theme.bash
Due: dot-bash

themes: Adapt themes to new scm_prompt api
  themes/binaryanomaly/binaryanomaly.theme.bash
  themes/brunton/brunton.theme.bash
  themes/codeword/codeword.theme.bash
  themes/doubletime/doubletime.theme.bash
  themes/gallifrey/gallifrey.theme.bash
  themes/mairan/mairan.theme.bash
  themes/modern-t/modern-t.theme.bash
  themes/modern-time/modern-time.theme.bash
  themes/modern/modern.theme.bash
  themes/pure/pure.theme.bash
  themes/ramses/ramses.theme.bash
  themes/rjorgenson/rjorgenson.theme.bash
  themes/slick/slick.theme.bash
  themes/zork/zork.theme.bash
Due: dot-bash

Add history flushes on each command to the powerline themes.
  themes/powerline-multiline/powerline-multiline.base.bash
  themes/powerline-naked/powerline-naked.base.bash
  themes/powerline/powerline.base.bash
Due: dot-bash

Fixes by the pre-commit checks
  themes/powerline-multiline/powerline-multiline.base.bash
  themes/powerline-naked/powerline-naked.base.bash
Due: dot-bash

even more Fixes by the pre-commit checks
  clean_files.txt
  themes/powerline-multiline/powerline-multiline.theme.bash
  themes/powerline-naked/powerline-naked.theme.bash
  themes/powerline-plain/powerline-plain.base.bash
  themes/powerline-plain/powerline-plain.theme.bash
Due: dot-bash
